        .innerTable1 tbody tr td {
            height: 28px !important;
            min-width: 30px !important;
            border: 1px solid #000000 !important;
            padding: 0px !important;
        }

        .innerTable tbody tr td {
            height: 28px !important;
            min-width: 30px !important;
            border: 1px solid #000000 !important;
            padding: 0px !important;
        }

        .table > thead > tr > th {
            padding: 2px !important;
        }

        .table > tbody > tr > td {
            padding: 2px !important;
            text-align: center !important;
        }

        .table-fixed > thead {
            width: 100%;
            height: 40px;
        }

        .table-fixed > tbody {
            height: 500px;
            overflow-y: auto;
            width: 100%;
            margin-top: 184px;
        }

        .table-fixed > thead, .table-fixed > tbody, .table-fixed > tr, .table-fixed > td, .table-fixed > th {
            display: block;
        }
