.mainpage{

width:960px;
min-height:410px;
height:auto;
border-left:1px solid #dfdfdf;
border-right:1px solid #dfdfdf;
background-color:#fff;
padding:10px;
font-family:Segoe UI;
font-size:13px;  
}
.pageheding{ 
	width:230px;
	height:33px; 
	height:auto;
	float:left;
}

.pagehedingbg { 
	width:230px;
	height:33px; 
	background-image:url(../images/blue/headingbg.png);
	background-repeat:repeat-x;
}
.pagetext {
	width:230px;
	height:auto;
	border: 1px solid #dfdfdf;

}

.pageright{
float:right;
width:700px;
height:auto;
}
.dashbord{
    width:700px;
    float:right;
	height:33px; 
	background-image:url(../images/blue/headingbg.png);
	background-repeat:repeat-x;}
	
	.pagerightmenu{
	float:right;
	width:700px;
	height:280px;
	border: 1px solid #dfdfdf;
	background-color: #fofofo;
	margin-top: 5px;
}
	
.dashbordlink{
	float: left;
	height: 127px;
	width: 127px;
	margin-top: 8px;
	margin-left: 11px;
}
.companyname{
	font-size:14px;
	color:#005077;
	font-family: Tahoma;

}
.address {
	font-family: Tahoma;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.right {
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #dfdfdf;
}
.h3txt  
{
    color:#fff; 
    font-family:Segoe UI; 
    padding-left:10px; 
    font-size:15px; 
    font-weight:bold;
    margin:0px;
    padding-top:5px;
    
}

.link
{
	background-color:#fff;
	width:100%;
	}