Alter procedure [dbo].[BulkUpdate]
(
	@ClassId int =NULL,
	@SectionID int =null,
	@BranchId int =null,
	@UDISEPEN nvarchar(100) =null,
	@APAARID nvarchar(50) =null,
	@BloodGroup nvarchar(50) =null,
	@StudentMobile nvarchar(50) =null,
	@StudentEmail nvarchar(50) =NULL,
	@House nvarchar(50) =NULL,
	@SrNo nvarchar(50) =NULL,
	@BranchCode int =NULL,
	@SessionName nvarchar(50) =NULL,
	@Action varchar(10)=''
)
as
begin
	if @Action='select'
	begin
		select name,srno,CombineClassName,Pen udisePen,BloodGroup bloodGroup,MobileNumber studentMobile,FatherEmail studentEmail,
		APAARID apaarID,HouseName houseName from AllStudentRecord_UDF(@SessionName, @BranchCode) where 
		ClassId=@ClassId and SectionID=@SectionID and BranchId=isnull(@BranchId, BranchId)
	end
	if @Action='update'
	begin
		update StudentGenaralDetail 
		set Pen=@UDISEPEN, BloodGroup=@BloodGroup, MobileNumber=@StudentMobile, Email=@StudentEmail
		where SessionName=@SessionName and SrNo=@SrNo and BranchCode=@BranchCode

		update StudentOfficialDetails 
		set APAARID=@APAARID, HouseName=@House
	    where SessionName=@SessionName and SrNo=@SrNo and BranchCode=@BranchCode
	end
end













