ALTER PROCEDURE [dbo].[AdmissionFormCollectionProc]
(
@RecieptNo NVARCHAR(50)=null, @AdmissionFromDate SMALLDATETIME, @StudentName NVARCHAR(150), @Middle_name NVARCHAR(50), @Last_Name NVARCHAR(50), 
@FatherName NVARCHAR(150), @Medium NVARCHAR(50)=null,@Class NVARCHAR(50), @LoginName NVARCHAR(50), @BranchCode INT, @sex NCHAR(10), @fatherContactNo NVARCHAR(50),
@Amount NUMERIC(18, 2),@sessionName NVARCHAR(50), @Concession NUMERIC(18, 2),@ReceivedAmount NUMERIC(18, 2),@CheckDDNo NVARCHAR(50),
@BankName NVARCHAR(50), @Status NVARCHAR(50), @MOP NVARCHAR(50), @SessionFor NVARCHAR(12),@Branch VARCHAR(10) = NULL, 
@AdmissionType NVARCHAR(50) = 'New', @ChqBounceAmount DECIMAL(18, 2) = NULL,@Srno VARCHAR(20) = NULL,@TxnID VARCHAR(50) = NULL,
@Email VARCHAR(50) = NULL, @Template nvarchar(50) = NULL, @EnquiryNo nvarchar(50)=NULL,@bookletno nvarchar(50)=NULL,@dob nvarchar(50),
	@Result Varchar(max)='' Out
)
AS
BEGIN
DECLARE @co INT;
SELECT @co = MAX(Id) FROM AdmissionFormCollection;
IF @co IS NULL
BEGIN
    SET @co = 0;
END;

SET @co = @co + 1;

exec dbo.GetreceiptNo @SessionName=@SessionName,@BranchCode=@BranchCode,@ReceiptNo=@RecieptNo out

INSERT INTO AdmissionFormCollection
(
 Concession,ReceivedAmount,Id,RecieptNo, AdmissionFromDate,StudentName, MiddleName,LastName, FatherName, Medium,Class,LoginName, BranchCode, RecordDate,Sex, FatherContactNo, Amount,
 SessionName, MOP,CheckDDNo, BankName, Status,SessionFor,Branch,AdmissionType, ChqBounceAmount,Srno,TxnID,Email, 
 Template, EnquiryNo, dob, bookletno
)
VALUES
(@Concession, @ReceivedAmount, @co, @RecieptNo, @AdmissionFromDate, @StudentName, @Middle_name, @Last_Name, @FatherName, @Medium, @Class, @LoginName, @BranchCode, GETDATE(),
 @sex, @fatherContactNo, @Amount, @sessionName, @MOP, @CheckDDNo, @BankName, @Status, @SessionFor, @Branch, @AdmissionType, @ChqBounceAmount,@Srno,
 @TxnID,@Email, @Template, @EnquiryNo, @dob, @bookletno);
	if @MOP='Cash'
	begin
		declare @Balance decimal(10,2)=0
		if exists(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)
		begin
			set @Balance=(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)
		end
	end
	
	insert into AccDayBook
	(ReceiptNo, SrNo, Date, HeadType, HeadName, HeadCategory, Income, Expens, Balance, PaymentMode, Particulars, 
	ChequeDate, ChequeNo, BankName, BranchCode, LoginName, RecordDate)
	select @RecieptNo, @srno, @AdmissionFromDate, 'Income', 'Fee','Admission Form Fee', @ReceivedAmount, 0, @Balance+@ReceivedAmount, 
	@MOP, 'Receipt No.- '+@RecieptNo+' for '+dbo.Name(@StudentName,@Middle_name,@Last_Name) +' '+@Class, 
	GETDATE(), '', '', @BranchCode, @LoginName, GETDATE()

	SET @Result=@RecieptNo
 if	isnull(@EnquiryNo, '')<>''
 begin	
	update AdmissionEnquiry set Status='Form Issued' where EnquiryNo=@EnquiryNo and BranchCode=@BranchCode
 end
END
