ALTER PROCEDURE [dbo].[AdmissionFormCollectionUpdateProc] (
	@Id INT, 
	@AdmissionFromDate SMALLDATETIME, 
	@StudentName NVARCHAR(150), 
	@MiddleName VARCHAR(50), 
	@LastName NVARCHAR(50), 
	@FatherName NVARCHAR(150), 
	@Class NVARCHAR(50), 
	@sex NCHAR(10), 
	@fatherContactNo NVARCHAR(50), 
	@Amount NUMERIC(18, 2), 
	@Concession NUMERIC(18, 2), 
	@ReceivedAmount NUMERIC(18, 2), 
	@SessionFor NVARCHAR(12), 
	@Branch VARCHAR(10) = NULL, 
	@AdmissionType NVARCHAR(50) = 'New', 
	@ChqBounceAmount DECIMAL(18, 2) = NULL, 
	@Srno NVARCHAR(20)= NULL, 
	@dob nvarchar(50)= NULL,
	@Prospectus nvarchar(50)=null ,
	@bookletno nvarchar(50)=NULL,
	@template nvarchar(50)=NULL
) AS 
UPDATE 
  AdmissionFormCollection 
SET 
  AdmissionFromDate = @AdmissionFromDate, 
  StudentName = @StudentName, 
  MiddleName = @MiddleName, 
  LastName = @LastName, 
  FatherName = @FatherName, 
  Class = @Class, 
  Sex = @sex, 
  FatherContactNo = @fatherContactNo, 
  Amount = @Amount, 
  Concession = @Concession, 
  ReceivedAmount = @ReceivedAmount, 
  SessionFor = @SessionFor, 
  Branch = @Branch, 
  AdmissionType = @AdmissionType, 
  ChqBounceAmount = @ChqBounceAmount, 
  Srno = @Srno, 
  dob = @dob,
  Prospectus=@Prospectus,
  bookletno=@bookletno,  
  template=@template
WHERE 
  Id = @Id;
