ALTER FUNCTION [dbo].[AllStudentRecord_UDF] (
  @SessionName NVARCHAR(20), 
  @Branchcode INT
) RETURNS TABLE AS RETURN (
  SELECT 
    t2.id, 
    T1.SrNo, 
    T1.StEnRCode, 
    T2.FirstName, 
    T2.MiddleName, 
    T2.LastName, 
    UPPER(
      T2.FirstName + CASE WHEN T2.MiddleName = ' ' THEN ' ' ELSE ' ' + T2.MiddleName + ' ' END + T2.LastName
    ) AS Name, 
    UPPER(T4.ClassName) ClassName, 
    case when isnull(T11.IsDisplay, 0)= 1 then UPPER(
      T4.ClassName + ' ' + T11.BranchName + IIF(ISNULL(T5.Display,0)=1,' (' + T5.SectionName + ')','')
    ) else UPPER(
      T4.ClassName + IIF(ISNULL(T5.Display,0)=1,' (' + T5.SectionName + ')','')
    ) end as CombineClassName, 
    T2.AadharNo, 
    UPPER(T5.SectionName) SectionName, 
	T5.Display SectionDisplay,
    UPPER(T1.Medium) Medium, 
    CONVERT(
      VARCHAR(11), 
      T2.DOB, 
      106
    ) AS DOB, 
    UPPER(T3.FatherName) FatherName, 
    T3.FatherContactNo, 
    T3.FatherIncomeMonthly, 
    UPPER(T3.FatherOccupation) FatherOccupation, 
    T4.CIDOrder, 
    UPPER(T3.MotherName) MotherName, 
    T3.MotherContactNo, 
    T3.MotherIncomeMonthly, 
    UPPER(T3.MotherOccupation) MotherOccupation, 
    UPPER(T3.FamilyGuardianName) FamilyGuardianName, 
    T3.FamilyContactNo, 
    UPPER(T3.GuardiantwoName) GuardiantwoName, 
    T3.GuardiantwoContact, 
    UPPER(T2.StPerAddress) StPerAddress, 
    UPPER(T6.StateName) AS StPerStateName, 
    UPPER(T7.CityName) AS StPerCityName, 
    UPPER(T2.StLocalAddress) StLocalAddress, 
    UPPER(T8.StateName) AS StLocalStateName, 
    UPPER(T9.CityName) AS StLocalCityName, 
    CONVERT(
      VARCHAR(11), 
      T1.DateOfAdmiission, 
      106
    ) AS DateOfAdmiission, 
    T1.TransportRequired, 
    UPPER(T2.Category) Category, 
    UPPER(T1.Card) Card, 
    T1.Card Card1, 
    UPPER(T1.TypeOFAdmision) TypeOFAdmision, 
    T1.Withdrwal, 
    UPPER(T2.Gender) Gender, 
    T2.Gender Gender1, 
    UPPER(T2.BloodGroup) BloodGroup, 
    UPPER(T2.Religion) Religion, 
    UPPER(T1.Board) Board, 
    UPPER(T1.HouseName) HouseName, 
    T1.HouseName HouseName1, 
    T1.LibraryRequired, 
    T1.HostelRequired, 
    T1.blocked, 
    T2.PhotoPath, 
    T3.FatherPhotoPath, 
    T3.MotherPhotoPath, 
    T1.SessionName, 
    T1.Promotion, 
    UPPER(T10.CourseName) CourseName, 
    T11.BranchName, 
    case when isnull(T11.IsDisplay, 0)= 1 then UPPER(T11.BranchName) else '' end as BranchNameWithDisplay, 
    T10.id AS CourseId, 
    T11.Id AS BranchId, 
    T1.InstituteRollNo AS InstituteRollNo, 
    T2.Height AS Height, 
    T2.Weight AS Weight, 
    T2.VisionL AS VisionL, 
    T2.VisionR AS VisionR, 
    T2.DentalHygiene AS DentalHygiene, 
    T4.Id AS ClassId, 
    T11.IsDisplay, 
    T2.Nationality, 
    T5.Id SectionID, 
    T2.MobileNumber, 
    T1.ModForTransport, 
    T1.CardNo, 
    T1.MODForFeeDeposit, 
    T12.Stream, 
    T12.Id StreamId, 
    T1.BoardUniversityRollNo, 
    T2.Email stEmail, 
    T2.Caste stCaste, 
    T3.FamilyEmail, 
    T14.Id CardId, 
    T2.OralHygiene AS OralHygiene, 
    T2.SpecificAilment AS SpecificAilment, 
    T2.StPerCountryId, 
    t2.StPerStateId, 
    t2.StPerCityId, 
    T2.StLocalCountryId, 
    t2.StLocalStateId, 
    t2.StLocalCityId, 
    T1.Isupdate, 
    PhysicallDisabledCategory, 
    PhyStName, 
    IdentificationMark, 
    MotherTongue, 
    FatherNationality, 
    MotherNationality, 
    FatherDesignation, 
    FatherQualification, 
    FatherOfficeAddress, 
    FatherEmail, 
    FamilyRelationship, 
    ParentTotalIncome, 
    MotherDesignation, 
    MotherQualification, 
    MotherOfficeAddress, 
    MotherEmail, 
    G1Address, 
    GroupPhotoPath, 
    StLocalZip, 
    PerPhoneNo, 
    PerMobileNo, 
    G1Pin, 
    G1State, 
    StPerZip, 
    FileNo, 
    GroupNa, 
    DFA, 
    CFA, 
    COFA, 
    SFA, 
    AdmissionDoneAt, 
    Scholarship, 
    TypeofEducation, 
    T1.BranchCode, 
    T15.shiftId, 
    T1.EducationActId, 
    T17.ShiftName, 
    T16.Actname, 
    t1.blockedRemark, 
    T1.StudentPassword, 
    T1.GuardianPassword, 
    T1.MachineNo, 
    T2.Pen,
    T1.APAARID,
	bm.BatchName,
	bm.ID BatchId
  FROM 
    dbo.StudentOfficialDetails T1 
    LEFT JOIN dbo.StudentGenaralDetail T2 ON T2.SrNo = T1.SrNo 
    AND T2.SessionName = T1.SessionName 
    AND T2.BranchCode = T1.BranchCode 
    LEFT JOIN dbo.StudentFamilyDetails T3 ON T3.SrNo = T1.SrNo 
    AND T3.SessionName = T1.SessionName 
    AND T3.BranchCode = T1.BranchCode 
    LEFT JOIN dbo.ClassMaster T4 ON T4.Id = T1.AdmissionForClassId 
    AND T4.SessionName = T1.SessionName 
    AND T4.BranchCode = T1.BranchCode 
    LEFT JOIN dbo.SectionMaster T5 ON T5.Id = T1.SectionId 
    AND T5.SessionName = T1.SessionName 
    AND T5.BranchCode = T1.BranchCode 
    LEFT JOIN dbo.StateMaster T6 ON T6.Id = T2.StPerStateId 
    LEFT JOIN dbo.CityMaster T7 ON T7.Id = T2.StPerCityId 
    LEFT JOIN dbo.StateMaster T8 ON T8.Id = T2.StLocalStateId 
    LEFT JOIN dbo.CityMaster T9 ON T9.Id = T2.StLocalCityId 
    LEFT JOIN dbo.CourseMaster T10 ON T10.id = T1.Course 
    LEFT JOIN dbo.BranchMaster T11 ON T11.Id = T1.Branch 
    LEFT JOIN dbo.StreamMaster T12 ON T12.Id = T1.Streamid 
    LEFT JOIN dbo.MediumMaster T13 ON T13.Medium = T1.Medium 
    AND T13.SessionName = T1.SessionName 
    AND T13.BranchCode = T1.BranchCode 
    LEFT JOIN dbo.FeeGroupMaster T14 ON T14.FeeGroupName = T1.Card 
    AND T14.SessionName = T1.SessionName 
    AND T14.BranchCode = T1.BranchCode 
    LEFT JOIN dbo.tblEducationAct T16 ON T16.ID = T1.EducationActId 
    -- AND T16.SessionName = T1.SessionName 
    AND T16.BranchCode = T1.BranchCode 
    LEFT JOIN dbo.StudentShiftMapping T15 ON T15.BranchCode = T1.BranchCode and T15.SrNo = T1.SrNo 
    LEFT JOIN dbo.StudentShiftMaster T17 ON T17.ID = T15.ShiftId AND T17.BranchCode = T1.BranchCode 
	Left Join dbo.STudentBatchAllotment_tb sba on sba.SrNo=T1.SrNo AND sba.BranchCode = T1.BranchCode 
	Left Join dbo.BatchMst_tb bm on bm.ID=sba.BatchID AND bm.BranchCode = T1.BranchCode 
  WHERE 
    @SessionName = CASE WHEN @SessionName = '' THEN @SessionName ELSE T1.SessionName End 
    and @Branchcode = CASE WHEN @Branchcode = '' THEN @Branchcode ELSE T1.BranchCode End
);