ALTER Procedure [dbo].[AttendanceUpdateDailyProc]
(
	@AttendanceDate datetime,
	@ClassName nvarchar(50),
	@SectionName nvarchar(50),
	@SrNo nvarchar(50),
	@StEnRCode nvarchar(50),
	@Value nvarchar(50),
	@BranchCode int,
	@LoginName nvarchar(50),
	@SessionName nvarchar(50)
)
As
BEGIN
	IF @Value='NM'
	BEGIN
		delete from AttendanceDetailsDateWise where BranchCode=@BranchCode and StEnRCode=@StEnRCode 
		and convert(date, AttendanceDate)=convert(date, @AttendanceDate)
	end
	else
	begin
		Update AttendanceDetailsDateWise set AttendanceValue=@Value,RecordDate=GETDATE(), LoginName=@LoginName
		where BranchCode=@BranchCode and StEnRCode=@StEnRCode and convert(date, AttendanceDate)=convert(date, @AttendanceDate)
	END
END