ALTER Proc [dbo].[BookIssueReturnProc]
(
  @srno nvarchar(20),@accessionno nvarchar(200)=null,@issuedate datetime=null,@returndate datetime=null,
  @latefine varchar(3)=null,@damageid int=null,@sessionname nvarchar(20)=null,@branchcode int=null,
  @loginname nvarchar(20)=null,@isactive bit=null,@isreturn bit=null,@Queryfor char(1)='',
  @BIRid int=null,@prifix nvarchar(50)=null,@tablename nvarchar(50)='',@increementby int=0,
  @Receiptno nvarchar(200)=null,@FineAmount decimal=null,@DamaageAmount decimal=null,@sessionname1 nvarchar(20)='',
  @Concession decimal=0,@Remark nvarchar(200)=null,@MOD nvarchar(10)='Cash', @Status nvarchar(10)= null,
  @BookIssueFor nvarchar(50)=null,
  @genrateReceipt varchar(3)='No',@msg varchar(200)='' OUTPUT
)
AS
BEGIN
	BEGIN TRY
	BEGIN TRAN
	If(@Queryfor='I')
	BEGIN
		Insert into BookIssueReturn(srno ,accessionno ,issuedate ,sessionname ,branchcode ,loginname ,recorddate ,isactive,isreturn,Remark, BookIssueFor)
		values(@srno ,@accessionno ,GETDATE() ,@sessionname ,@branchcode ,@loginname ,GETDATE() ,1,0,@Remark, @BookIssueFor)
		set @msg='S'
	END

	ELSE If(@Queryfor='U')
	BEGIN
		Declare @genrateReceiptmsg nvarchar(500)='S';
		Declare @Receiptno1 nvarchar(200)='';
		Declare @StockMinus bit
		set @returndate=convert(nvarchar(50), Convert(date,@returndate))+' '+format(getdate(),'hh:mm:ss tt')
		UPDATE BookIssueReturn set returndate=@returndate,latefine=@latefine,damageid=@damageid,isreturn=1 where srno=@srno and accessionno=@accessionno 
		and isreturn=0 and BranchCode=@branchcode and BookIssueFor=@BookIssueFor

		Select @StockMinus=StockMinus from DamageCategoryMaster where Id=@damageid and BranchCode=@branchcode
		if(@StockMinus is not null and @StockMinus<>0)
		BEGIN
			UPDATE LibraryItemEntry set DeleteBookYesno='Yes' where accessionno=@accessionno and BranchCode=@branchcode
		END

		if(@genrateReceipt='Yes')
		BEGIN
			Insert Into ReturnBookFine(BIRid ,Receiptno,FineAmount,DamaageAmount,SessionName, LoginName ,BranchCode ,RecordDate,Concession,Remark,MOD,Status, BookIssueFor)
			values(@BIRid ,@Receiptno ,@FineAmount,@DamaageAmount,@SessionName, @LoginName ,@BranchCode ,GETDATE(),@Concession,@Remark,@MOD,@Status, @BookIssueFor)
			declare @BranchCode2 int
			if @MOD='Cash'
			begin
				declare @Balance decimal(10,2)=0
				if exists(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)
				begin
					set @Balance=(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)
				end

				insert into AccDayBook
				(ReceiptNo, SrNo, Date, HeadType, HeadName, HeadCategory, Income, Expens, Balance, PaymentMode, Particulars, 
				ChequeDate, ChequeNo, BankName, BranchCode, LoginName, RecordDate)
				select ReceiptNo,bi.SrNo,  convert(date, returndate), 'Income', 'Fee', 'Library Fee', FineAmount, 0, 
				@Balance+FineAmount, 'Cash', 
				'Receipt No.- '+ReceiptNo+' for '+dbo.Name(FirstName,MiddleName,LastName)+' '+asr.CombineClassName, 
				GETDATE(), '', '', @BranchCode, @LoginName, GETDATE()
				from ReturnBookFine f 
				inner join BookIssueReturn bi on bi.id=f.BIRid  and bi.branchcode=f.branchcode 
				Left Join AllStudentRecord_UDF(@SessionName,@BranchCode) asr on asr.SrNo=bi.SrNo
				where bi.BranchCode=@BranchCode and bi.SessionName=isnull(@SessionName,bi.SessionName) and MOD='Cash' and Status='Paid'
				and f.Receiptno=@Receiptno and bi.SrNo=@srno
			end
		END

		if(@genrateReceipt='Yes')
		Begin
			if(@Receiptno!='')
			BEGIN
				set @msg=@Receiptno
			END
			ELSE
			BEGIN
				set @msg=''
				ROLLBACK;
			END
		END
		Else
		Begin
			set @msg='U'
		END
	END

	ELSE If(@Queryfor='S')
	BEGIN
		Declare @getaccessionno nvarchar(200)
		SELECT @getaccessionno=coalesce(@getaccessionno+',','')+accessionno from BookIssueReturn where srno=@srno and BookIssueFor=@BookIssueFor and isreturn=0 and BranchCode=@branchcode
		SELECT @getaccessionno accessionno
		print @getaccessionno
	END
	Commit Tran
	END TRY
	BEGIN CATCH
	if(@@ROWCOUNT>0)
		ROLLBACK;
	END CATCH
END













