ALTER PROCEDURE [dbo].[CancelledReceiptReport]  

(  

    @SrNo NVARCHAR(50)=null,  

    @SessionName NVARCHAR(50)=null,  

    @BranchCode NVARCHAR(50)=null,  

    @fromdate datetime=null,  

    @todate datetime=null,  

 @Module  NVARCHAR(50)=''  

)  

  

as  

  

begin   

  declare @SessionName2 nvarchar(50)  

  select top(1) @SessionName2=SessionName from SessionMaster where convert(date, @ToDate) between convert(date, FromDate) and convert(date, ToDate)  

  declare @tempTable as table(SrNo NVARCHAR(50), ReceiptNo NVARCHAR(50), 

  DepositDate datetime, MOP NVARCHAR(50), PaidAmount decimal(10,2), 

  receiptCancelDate datetime,

  receiptCancelDate1 datetime,

  GeneratedBy varchar(350),

  remark varchar(250),

  CanceledBy varchar(350),

  Module NVARCHAR(50),
  
  SessionName NVARCHAR(20))  

  

  if (@Module='Tuition Fee' or @Module='All')  

  begin  

   insert into @tempTable  

   select SrNo, ReceiptNo,  format(DepositDate, 'dd-MMM-yyyy')DepositDate,

   ModeOfPayment MOP, PaidAmount, 

   format(convert(date, isnull(RecordDate, getdate())),

   'dd-MMM-yyyy') receiptCancelDate,

   format(convert(date, CancelledDate),'dd-MMM-yyyy') receiptCancelDate1,

   --(LoginName+' ('+

   --format(convert(date, isnull(RecordDate, getdate())),

   --'dd-MMM-yyyy hh:mm:ss tt')+')') GeneratedBy,

    (LoginName + ' (' +

   format(isnull(RecordDate, getdate()), 'dd-MMM-yyyy hh:mm:ss tt') + ')') as GeneratedBy,

   Remark,

   (CancelledBy+' ('+

   format(

   --convert(date, isnull(CancelledDate, getdate())),

   isnull(CancelledDate, getdate()),

   'dd-MMM-yyyy hh:mm:ss tt')+')') CanceledBy,

   'Tuition Fee'  ,

   SessionName

   from CompositFeeDeposit 

   where receiptStatus='Cancelled' 

   and BranchCode=@BranchCode and SessionName=isnull(@SessionName,SessionName)  

    and SrNo=isnull(@SrNo, SrNo) 

	and convert(date, isnull(RecordDate, getdate())) between @fromdate and @todate  

  end  

  if (@Module='Other Fee' or @Module='All')  

  begin  

   insert into @tempTable  

   select SrNo, Receipt_no ReceiptNo, format(DepositDate, 'dd-MMM-yyyy')DepositDate, 

   Mode MOP, PaidAmt PaidAmount, 

   format(convert(date, isnull(receiptCancelDate, getdate())), 'dd-MMM-yyyy') 

   receiptCancelDate, 

format(convert(date, CancelledDate),'dd-MMM-yyyy') receiptCancelDate1,

   (LoginName+' ('+

   format(

   --convert(date, isnull(RecordedDate, getdate())),

   isnull(RecordedDate, getdate()),

   'dd-MMM-yyyy hh:mm:ss tt')+')') GeneratedBy,

   Remark,

   (CancelledBy+' ('+

   format(

   --convert(date, isnull(CancelledDate, getdate())),

     isnull(CancelledDate, getdate()),

   'dd-MMM-yyyy hh:mm:ss tt')+')') CanceledBy,

   

   'Other Fee'  ,SessionName

   from OtherFeeDeposit 

   

   where PaymentSatus='Cancelled' and BranchCode=@BranchCode and SessionName=isnull(@SessionName,SessionName)  

    and SrNo=isnull(@SrNo, SrNo) and convert(date, isnull(receiptCancelDate, getdate())) between @fromdate and @todate  

  end  

  if (@Module='CC Fee' or @Module='All')  

  begin  

   insert into @tempTable  

   select SrNo,RecieptNo ReceiptNo, format(CCissuedate, 'dd-MMM-yyyy')DepositDate, 

   MOP, ReceivedAmount PaidAmount, format(convert(date, isnull(receiptCancelDate, getdate())), 'dd-MMM-yyyy') receiptCancelDate, 

format(convert(date, CancelledDate),'dd-MMM-yyyy') receiptCancelDate1,

   (LoginName+' ('+

   format(

   --convert(date, isnull(RecordDate, getdate())),

      isnull(RecordDate, getdate()),

   'dd-MMM-yyyy hh:mm:ss tt')+')') GeneratedBy,

   Remark,

   (CancelledBy+' ('+

   format(

   --convert(date, isnull(CancelledDate, getdate())),

    isnull(CancelledDate, getdate()),

   'dd-MMM-yyyy hh:mm:ss tt')+')') CanceledBy,

   'CC Fee'  ,SessionName

   from CCCollection where Status='Cancelled' and BranchCode=@BranchCode and SessionName=isnull(@SessionName,SessionName)  

    and SrNo=isnull(@SrNo, SrNo) and convert(date, isnull(receiptCancelDate, getdate())) between @fromdate and @todate  

  end  

  if (@Module='TC Fee' or @Module='All')  

  begin  

   insert into @tempTable  

   select SrNo, RecieptNo ReceiptNo, format(TCIssueDate, 'dd-MMM-yyyy')DepositDate, MOP,

   ReceivedAmount PaidAmount, format(convert(date, isnull(receiptCancelDate, getdate())),

   'dd-MMM-yyyy') receiptCancelDate,

    format(convert(date, CancelledDate),'dd-MMM-yyyy') receiptCancelDate1,

   (LoginName+' ('+

   format(

   --convert(date, isnull(RecordDate, getdate())),

   isnull(RecordDate, getdate()),

   'dd-MMM-yyyy hh:mm:ss tt')+')') GeneratedBy,

   Remark,

   (CancelledBy+' ('+

   format(

   --convert(date, isnull(CancelledDate, getdate())),

    isnull(CancelledDate, getdate()),

   'dd-MMM-yyyy hh:mm:ss tt')+')') CanceledBy,

   'TC Fee'  ,SessionName

   from TCCollection where Status='Cancelled' and BranchCode=@BranchCode and SessionName=isnull(@SessionName,SessionName)  

    and SrNo=isnull(@SrNo, SrNo) and convert(date, isnull(receiptCancelDate, getdate())) between @fromdate and @todate  

  end  

  if (@Module='Admission Form Fee' or @Module='All')  

  begin  

   insert into @tempTable  

   select SrNo, RecieptNo ReceiptNo, format(AdmissionFromDate, 'dd-MMM-yyyy')DepositDate,

   MOP, ReceivedAmount PaidAmount, format(convert(date, isnull(receiptCancelDate, getdate())), 'dd-MMM-yyyy') receiptCancelDate,

format(convert(date, CancelledDate),'dd-MMM-yyyy') receiptCancelDate1,

   (LoginName+' ('+

   format(

   --convert(date, isnull(RecordDate, getdate())),

   isnull(RecordDate, getdate()),

   'dd-MMM-yyyy hh:mm:ss tt')+')') GeneratedBy,

   Remark,

   (CancelledBy+' ('+

   format(

   --convert(date, isnull(CancelledDate, getdate())),

   isnull(CancelledDate, getdate()),

   'dd-MMM-yyyy hh:mm:ss tt')+')') CanceledBy,

   'Admission Form Fee' , SessionName 

   from AdmissionFormCollection where Status='Cancelled' and BranchCode=@BranchCode and SessionName=isnull(@SessionName,SessionName)  

    and SrNo=isnull(@SrNo, SrNo) and convert(date, isnull(receiptCancelDate, getdate())) between @fromdate and @todate  

  end  

  if (@Module='Additional Fee' or @Module='All')  

  begin  

   insert into @tempTable  

   select SrNo, Receipt_no ReceiptNo, format(FeeDepositeDate, 'dd-MMM-yyyy')DepositDate, MOP, ReceivedAmount PaidAmount, format(convert(date, isnull(receiptCancelDate, getdate())), 'dd-MMM-yyyy') receiptCancelDate,

format(convert(date, CancelledDate),'dd-MMM-yyyy') receiptCancelDate1,

   (LoginName+' ('+

   format(

   --convert(date, isnull(RecordDate, getdate())),

   isnull(RecordDate, getdate()),

   'dd-MMM-yyyy hh:mm:ss tt')+')') GeneratedBy,

   Remark,

   (CancelledBy+' ('+

   format(

   --convert(date, isnull(CancelledDate, getdate())),

     isnull(CancelledDate, getdate()),

   'dd-MMM-yyyy hh:mm:ss tt')+')') CanceledBy,

   'Additional Fee'  ,SessionName

   from Other_fee_collection_1 where Status='Cancelled' and BranchCode=@BranchCode and SessionName=isnull(@SessionName,SessionName)  

    and SrNo=isnull(@SrNo, SrNo) and convert(date, isnull(receiptCancelDate, getdate())) between @fromdate and @todate  

  end  

  if (@Module='Product Fee' or @Module='All')  

  begin  

   insert into @tempTable  

   select SrNo, Receipt_no ReceiptNo, format(DepositDate, 'dd-MMM-yyyy')DepositDate, Mode MOP, PaidAmt PaidAmount, format(convert(date, isnull(receiptCancelDate, getdate())), 'dd-MMM-yyyy') receiptCancelDate,

    format(convert(date, isnull(CancelledDate, getdate())),

   'dd-MMM-yyyy') receiptCancelDate1,

   (LoginName+' ('+

   format(

   --convert(date, isnull(RecordedDate, getdate())),

    isnull(RecordedDate, getdate()),

   'dd-MMM-yyyy hh:mm:ss tt')+')') GeneratedBy,

   Remark,

   (CancelledBy+' ('+

   format(

   --convert(date, isnull(CancelledDate, getdate())),

    isnull(CancelledDate, getdate()),

   'dd-MMM-yyyy hh:mm:ss tt')+')') CanceledBy,

   'Product Fee'  ,SessionName

   from UniformFeeDeposit where PaymentSatus='Cancelled' and BranchCode=@BranchCode and SessionName=isnull(@SessionName,SessionName)  

    and SrNo=isnull(@SrNo, SrNo) and convert(date, isnull(receiptCancelDate, getdate())) between @fromdate and @todate  

  end  

  if (@Module='Library Fine' or @Module='All')  

  begin  

   insert into @tempTable  

   select SrNo, ReceiptNo, format(issuedate, 'dd-MMM-yyyy')DepositDate, MOD MOP, FineAmount PaidAmount,   

   format(convert(date, isnull(receiptCancelDate, getdate())), 'dd-MMM-yyyy') receiptCancelDate,

   format(convert(date, CancelledDate),'dd-MMM-yyyy') receiptCancelDate1,

   (f.LoginName+' ('+

   format(

   --convert(date, isnull(f.RecordDate, getdate())),

   isnull(f.RecordDate, getdate()),

   'dd-MMM-yyyy hh:mm:ss tt')+')') GeneratedBy,

   f.Remark,

   (f.CancelledBy+' ('+

   format(

   --convert(date, isnull(f.CancelledDate, getdate())),

   isnull(f.CancelledDate, getdate()),

   'dd-MMM-yyyy hh:mm:ss tt')+')') CanceledBy,

   'Library Fine'  ,f.SessionName

   from ReturnBookFine f  



   inner join BookIssueReturn br on br.id=f.BIRid and f.SessionName=br.sessionname and f.BranchCode=br.BranchCode  

    where Status='Cancelled' and f.BranchCode=@BranchCode and f.SessionName=isnull(@SessionName,f.SessionName)  

     and SrNo=isnull(@SrNo, SrNo) and convert(date, isnull(receiptCancelDate, getdate())) between @fromdate and @todate  

  end  

  

  select ReceiptNo, DepositDate, receiptCancelDate, asr.SrNo, Name, 

  CombineClassName, FatherName, FamilyContactNo, MOP, Module, 

  sum(PaidAmount) PaidAmount, receiptCancelDate1, GeneratedBy, remark,CanceledBy

  from VW_AllStudentRecord asr  

  inner join @tempTable t on t.SrNo=asr.SrNo where asr.SessionName=t.SessionName and asr.BranchCode=@BranchCode  

  group by ReceiptNo, receiptCancelDate, DepositDate, asr.SrNo, Name, 

  CombineClassName, FatherName, FamilyContactNo, MOP, Module, receiptCancelDate1, GeneratedBy, remark,CanceledBy  

  

end