ALTER Procedure [dbo].[CCCollectionProc]
(
	@Remark nvarchar(200)=null,
	@RecieptNo nvarchar(50)=null,
	@StudentName nvarchar(150)=null,
	@FatherName nvarchar(150)=null,
	@Class nvarchar(50)=null,
	@LoginName nvarchar(50)=null,
	@BranchCode int=null,
	@sex nchar(10)=null,
	@fatherContactNo nvarchar(50)=null,
	@Amount numeric(18,2)=null,
	@ReceivedAmount numeric(18,2)=null,
	@Concession numeric(18,2)=null,
	@sessionName nvarchar(50)=null,
	@Srno nvarchar(50)=null,
	@CCissuedate datetime=null,
	@FeeDepositeDate smalldatetime=null,
	@MOP nvarchar(50)=null,
	@CheckDDNo nvarchar(50)=null,
	@BankName nvarchar(50)=null,
	@Status nvarchar(10)=null,
	@passfail nvarchar(15)=null,
	@year nvarchar(15)=null,
	@BounceCharges decimal(10, 2)=null, 
	@ChequeStatus nvarchar(15)=null, 
	@CheckDate datetime=null,  
	@Result varchar(max)='' out
)  
as
begin  
	Begin Try
	Begin Tran
		declare @co int select @co=MAX(id) from CCCollection     
		if @co is  null      
		begin     
			set @co=0  
			end     
		set @co=@co+1  
	
		exec dbo.GetreceiptNo @SessionName=@SessionName,@BranchCode=@BranchCode,@ReceiptNo=@RecieptNo out
	 
		insert into CCCollection
		(Remark,Id,srno,RecieptNo,ReceivedAmount,Concession, StudentName,FatherName,Class,LoginName,BranchCode,Sex,FatherContactNo,Amount,sessionName,
		 MOP,CheckDDNo,BankName,Status,passfail,year,CCissuedate,FeeDepositeDate,RecordDate, BounceCharges, ChequeStatus, CheckDate)
		values
		(@Remark,@co,@srno,@RecieptNo,@ReceivedAmount,@Concession,@StudentName,@FatherName,@Class, @LoginName,@BranchCode,@sex,@fatherContactNo,@Amount,@sessionName,
		 @MOP,@CheckDDNo,@BankName,@Status,@passfail,@year,@CCissuedate,@FeeDepositeDate,GETDATE(), @BounceCharges, @ChequeStatus, @CheckDate)

		declare @Balance decimal(10,2)=null
		if @MOP='Cash'
		begin
		
			if exists(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)
			begin
				set @Balance=(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)
			end
		end

		declare @Daybook as table(ReceiptNo nvarchar(50), SrNo nvarchar(50), ReceivedAmount decimal(10, 2),Balance decimal(10, 2), BranchCode nvarchar(50), LoginName nvarchar(50)) 

		insert into @Daybook
		(SrNo, ReceiptNo,ReceivedAmount,Balance, BranchCode, LoginName)
		select 
		@SrNo, @RecieptNo, @ReceivedAmount,@Balance, @BranchCode, @LoginName
	
		insert into AccDayBook
		(ReceiptNo, SrNo, Date, HeadType, HeadName, HeadCategory, Income, Expens, Balance, PaymentMode, Particulars, 
		ChequeDate, ChequeNo, BankName, BranchCode, LoginName, RecordDate)
		select ReceiptNo, db.srno, @CCIssueDate, 'Income', 'Fee', 'CC Fee', ReceivedAmount, 0, Balance+ReceivedAmount, @MOP,
		'Receipt No.- '+ReceiptNo+' for '+dbo.Name(FirstName,MiddleName,LastName)+' '+asr.CombineClassName, 
		GETDATE(), '', '', db.BranchCode, LoginName, GETDATE() From @Daybook db
		Inner Join AllStudentRecord_UDF(@SessionName,@BranchCode) asr on asr.SrNo=db.SrNo

	Set @Result=@RecieptNo
	Commit
	End Try
	Begin Catch
		Print Error_Message()
		Print Error_Line()
		IF(@@ROWCOUNT>0)
			RollBack
	End Catch
end
