ALTER Proc [dbo].[CCCollectionUpdateProc]
(
  @RecieptNo nvarchar(200),
  @Class nvarchar(20),
  @passfail nvarchar(15),
  @BranchCode int,
  @year nvarchar(15)
)

As

Begin

 Update CCCollection Set Class=@Class,passfail=@passfail,year=@year

 where RecieptNo=@RecieptNo and BranchCode=@BranchCode

End













