ALTER Procedure [dbo].[ClassMasterProc]  
(  
 @ClassName nvarchar(50),  
 @RoomNo nvarchar(50),  
 @Location nvarchar(100),  
 @Remark nvarchar(500),  
 @BranchCode int,  
 @LoginName nvarchar(50),  
 @SessionName nvarchar(50),  
 @ClassCode nvarchar(50),  
 @CIDOrder int,  
 @Course int,   
 @ModeofEducation nvarchar(20),  
 @SemesterType nvarchar(20),
 @DurationDays varchar(10)=null,
 @DurationMonth varchar(50)=null,
 @IsAttendenceLock varchar(5)=null
)     
As     
 declare @co int      
 Select @co=MAX(Id) from ClassMaster where SessionName=@SessionName and BranchCode=@BranchCode     
 if @co is null      
 begin      
 set @co =0      
 end      
 set @co=@co+1   
 if not exists(select * from ClassMaster where ClassName=@ClassName and Course=@Course and BranchCode=@BranchCode and SessionName=@SessionName)  
 begin  
 insert into ClassMaster(Id,ClassName,RoomNo,Location,Remark,BranchCode,LoginName,SessionName,  
 ClassCode,RecordDate,CIDOrder,Course,ModeofEducation,SemesterType,DurationDays,DurationMonth,IsAttendenceLock)      
 values(@co,@ClassName,@RoomNo,@Location,@Remark,@BranchCode,  
 @LoginName,@SessionName,@ClassCode,GETDATE(),@CIDOrder,@Course,@ModeofEducation,@SemesterType,@DurationDays,@DurationMonth,@IsAttendenceLock)  
 end  
  
  
  
  
  
  
  
  
  
  
  
  
  
  