ALTER  Procedure [dbo].[ClassMasterUpdateProc]  
(  
 @id int,  
 @ClassName nvarchar(50),  
 @RoomNo nvarchar(50),  
 @Location nvarchar(100),  
 @Remark nvarchar(500),  
 @BranchCode int,  
 @LoginName nvarchar(50),  
 @SessionName nvarchar(50),  
 @ClassCode nvarchar(50),  
 @CIDOrder int,  
 @Course int,   
 @ModeofEducation nvarchar(20),  
 @SemesterType nvarchar(20),
 @DurationDays varchar(10)=null,
 @DurationMonth varchar(50)=null,
 @IsAttendenceLock varchar(5)=null
)      
As        
 update ClassMaster set   
 ClassName=@ClassName,RoomNo=@RoomNo,Location=@Location,  
 Remark=@Remark,BranchCode=@BranchCode,LoginName=@loginName,  
 ClassCode=@ClassCode,RecordDate=getdate(),CIDOrder=@CIDOrder,  
 Course=@Course,ModeofEducation=@ModeofEducation,SemesterType=@SemesterType,
 DurationDays=@DurationDays,DurationMonth=@DurationMonth,IsAttendenceLock=@IsAttendenceLock
 where Id=@id and SessionName=@sessionName and BranchCode=@BranchCode  
  
  
  
  
  
  
  
  
  
  
  
  
  
  