ALTER Proc [dbo].[DayBookMonthlyReport]
(
	@BranchCode int=null,
	@Date varchar(20)=null
)
AS
BEGIN
	--Declare @BranchCode int=1
	--Declare @Date varchar(20)='01-Aug-2024'
	Declare @Opening varchar(50)
	--Select Top 1 @Opening=Balance from AccDayBook Where Date=DateAdd(dd,-1,@Date) and Balance is not null
	--Order by ID desc

	Select  Top 1 @Opening=Balance  from AccDayBook Where RecordDate<@Date and Balance is not null and BranchCode=@BranchCode
	and PaymentMode='Cash'
	Order by ID desc

	Create Table #Temp_Dates
	(
		SrNo int,
		DateValue date
	)

	;With CTE As
	(
		Select 1 Srno,Convert(date,@Date) DateValue
		Union ALL
		Select CTE.Srno+1 Srno, DateAdd(dd,1,DateValue) Date From CTE
		Where DateAdd(dd,1,DateValue)<DateAdd(month,1,@Date)
	)

	Insert into #Temp_Dates(Srno,DateValue)
	Select Srno,DateValue From CTE

	Create Table #Temp_DayBook
	(
		Srno int,
		Date date,
		Income decimal(18,2),
		Expens decimal(18,2),
		PaymentMode varchar(50),
		HeadType varchar(20),
		HeadName varchar(250),
		LoginName nvarchar(100)
	)

	Insert into #Temp_DayBook(Srno,Date,Income,Expens,PaymentMode,HeadType,HeadName,LoginName)
	Select td.Srno,Convert(date,td.DateValue) date,
	SUM(ISNULL(Income,0)) Income,
	SUM(ISNULL(Expens,0)) Expens,adb.PaymentMode,adb.HeadType,adb.HeadName,UPPER(adb.LoginName) LoginName from #Temp_Dates td 
	Left join AccDayBook adb on td.DateValue=Convert(date,adb.RecordDate)  and BranchCode=@BranchCode
	Group by td.Srno,td.DateValue,adb.PaymentMode,adb.HeadType,adb.HeadName,adb.LoginName

	Create Table #Temp_DayBook_Cash
	(
		Srno int,
		Date date,
		Income decimal(18,2),	
		Balance decimal(18,2),
		LoginName nvarchar(100)
	)

	Insert into #Temp_DayBook_Cash(Srno,Date,Income,Balance,LoginName)
	Select td.Srno,td.DateValue,ISNULL(Sum(Income),0) Income,ISNULL(Sum(Income),0) Balance,adb.LoginName+'_All' from #Temp_Dates td 
	left join #Temp_DayBook adb on td.DateValue=adb.Date and HeadType='Income'
	Group by td.Srno,td.DateValue,adb.LoginName

	Create Table #Temp_DayBook_Online
	(
		Srno int,
		Date date,
		Income decimal(18,2),	
		Balance decimal(18,2),
		LoginName nvarchar(100)
	)

	Insert into #Temp_DayBook_Online(Srno,Date,Income,Balance,LoginName)
	Select td.Srno,td.DateValue,ISNULL(Sum(Income),0) Income,ISNULL(Sum(Income),0) Balance,adb.LoginName+'_Online' from #Temp_Dates td 
	Left join #Temp_DayBook adb on td.DateValue=adb.Date and PaymentMode!='Cash' and HeadType='Income'
	Group by td.Srno,td.DateValue,adb.LoginName

	Create Table #Temp_DayBook_Expenses
	(
		Date date,
		Expens decimal(18,2)
	)

	Insert into #Temp_DayBook_Expenses(Date,Expens)
	Select td.DateValue,ISNULL(Sum(Expens),0) Expens from #Temp_Dates td 
	Left join #Temp_DayBook adb on td.DateValue=adb.Date and HeadType='Expense' and HeadName not in ('Fee','Bank Deposit')
	Group by td.DateValue

	Create Table #Temp_DayBook_Expenses_Rec_Cancel
	(
		Date date,
		Expens decimal(18,2)
	)

	Insert into #Temp_DayBook_Expenses_Rec_Cancel(Date,Expens)
	Select td.DateValue,ISNULL(Sum(Expens),0) Expens from #Temp_Dates td 
	Left join #Temp_DayBook adb on td.DateValue=adb.Date and HeadType='Expense' and HeadName='Fee' and PaymentMode='Cash'
	Group by td.DateValue

	Create Table #Temp_DayBook_Expenses_BankDeposit
	(
		Date date,
		Expens decimal(18,2)
	)

	Insert into #Temp_DayBook_Expenses_BankDeposit(Date,Expens)
	Select td.DateValue,ISNULL(Sum(Expens),0) Expens from #Temp_Dates td 
	Left join #Temp_DayBook adb on td.DateValue=adb.Date and HeadType='Expense' and HeadName='Bank Deposit'
	Group by td.DateValue

	Set @Opening=ISNULL(@Opening,0)

	Declare @AllFeeCollectedBy Varchar(1000)
	Select @AllFeeCollectedBy=Coalesce(@AllFeeCollectedBy+',','')+ Quotename(LoginName) from (Select Distinct LoginName From #Temp_DayBook_Cash)T1

	Set @AllFeeCollectedBy=IIF(@AllFeeCollectedBy is null,'[NA_All]',@AllFeeCollectedBy)

	Declare @SUM_AllFeeCollectedBy Varchar(1000)
	Select @SUM_AllFeeCollectedBy=Coalesce(@SUM_AllFeeCollectedBy+',','')+'Sum(ISNULL('+Quotename(LoginName)+',0))' +' '+ Quotename(LoginName) from (Select Distinct LoginName From #Temp_DayBook_Cash)T1

	Set @SUM_AllFeeCollectedBy=IIF(@SUM_AllFeeCollectedBy is null,'SUM(ISNULL([NA_All],0)) [NA_All]',@SUM_AllFeeCollectedBy)

	Declare @AllFeeCollectedBy_Online Varchar(1000)
	Select @AllFeeCollectedBy_Online=Coalesce(@AllFeeCollectedBy_Online+',','')+ Quotename(LoginName) from (Select Distinct LoginName From #Temp_DayBook_Online)T1

	Set @AllFeeCollectedBy_Online=IIF(@AllFeeCollectedBy_Online is null,'[NA_Online]',@AllFeeCollectedBy_Online)

	Declare @SUM_AllFeeCollectedBy_Online Varchar(1000)
	Select @SUM_AllFeeCollectedBy_Online=Coalesce(@SUM_AllFeeCollectedBy_Online+',','')+'Sum(ISNULL('+Quotename(LoginName)+',0))' +' '+ Quotename(LoginName) from (Select Distinct LoginName From #Temp_DayBook_Online)T1

	Declare @TotalSUM_AllFeeCollectedBy_Online Varchar(1000)
    Select @TotalSUM_AllFeeCollectedBy_Online=Coalesce(@TotalSUM_AllFeeCollectedBy_Online+'+','')+'Sum(ISNULL('+Quotename(LoginName)+',0))' from (Select Distinct LoginName From #Temp_DayBook_Online)T1

	Set @SUM_AllFeeCollectedBy_Online=IIF(@SUM_AllFeeCollectedBy_Online is null,'Sum(ISNULL([NA_Online],0)) [NA_Online]',@SUM_AllFeeCollectedBy_Online)
	Set @TotalSUM_AllFeeCollectedBy_Online=IIF(@TotalSUM_AllFeeCollectedBy_Online is null,'0',@TotalSUM_AllFeeCollectedBy_Online)

	Declare @AllFeeCollectedByOnlineForCTE Varchar(1000)
	Select @AllFeeCollectedByOnlineForCTE=Replace(@AllFeeCollectedBy_Online,'[','CTE1.[')

	Declare @AllFeeCollectedByForCTE Varchar(1000)
	Select @AllFeeCollectedByForCTE=Replace(@AllFeeCollectedBy,'[','CTE.[')

	Declare @AllFeeCollectedByForCTE_SUM Varchar(1000)
	Select @AllFeeCollectedByForCTE_SUM='CTE.'+Replace(@AllFeeCollectedBy,',','+CTE.')

	Declare @sql Varchar(max)

	Set @sql=';With CTE AS
	(
		Select Srno,Date,'+@SUM_AllFeeCollectedBy+' from #Temp_DayBook_Cash
		Pivot(Sum(Income) for LoginName in ('+@AllFeeCollectedBy+')) pvt
		Group by Srno,Date
	),
	CTE1 AS
	(
		Select Date,'+@SUM_AllFeeCollectedBy_Online+','+@TotalSUM_AllFeeCollectedBy_Online+' [Online Total Amount] from #Temp_DayBook_Online
		Pivot(Max(Income) for LoginName in ('+@AllFeeCollectedBy_Online+')) pvt
		Group by Date
	),
	CTE2 AS
	(
		Select Srno SRNO,Format(CTE1.Date,''dd'') DATE,Convert(decimal(18,2),'+@Opening+') [OPENING BALANCE (A)],'+@AllFeeCollectedByForCTE+','+@AllFeeCollectedByForCTE_SUM+' [ALL TOTAL AMOUNT (B)],

		CTE1.'+@AllFeeCollectedBy_Online+',[Online Total Amount] [ONLINE TOTAL AMOUNT (C)],
		ISNULL('+@AllFeeCollectedByForCTE_SUM+',0)-ISNULL([Online Total Amount],0) [CASH RECEIVED #D=B-C!],
		ISNULL('+@AllFeeCollectedByForCTE_SUM+',0)-ISNULL([Online Total Amount],0)+Convert(decimal(18,2),'+@Opening+') [TOTAL CASH #E=A+D!],
		t1.Expens [VOUCHERS / EXPENSE (F)],
		t2.Expens [CANCELLED RECEIPTS (G)],
		ISNULL('+@AllFeeCollectedByForCTE_SUM+',0)-ISNULL([Online Total Amount],0)+Convert(decimal(18,2),'+@Opening+')-t1.Expens-t2.Expens [NET CASH #H=E-(F+G)!],
		t3.Expens [BANK DEPOSIT (I)],
		ISNULL('+@AllFeeCollectedByForCTE_SUM+',0)-ISNULL([Online Total Amount],0)+Convert(decimal(18,2),'+@Opening+')-t1.Expens-t2.Expens-t3.Expens [CLOSING BALANCE #J=H-I!],
		ISNULL('+@AllFeeCollectedByForCTE_SUM+',0)-ISNULL([Online Total Amount],0)-t1.Expens-t2.Expens-t3.Expens [TODAY CASH #K=D-(F+G+I)!]
		from CTE
		Inner Join CTE1 on CTE.Date=CTE1.Date
		Inner Join #Temp_DayBook_Expenses t1 on CTE1.Date=t1.Date
		Inner Join #Temp_DayBook_Expenses_Rec_Cancel t2 on CTE1.Date=t2.Date
		Inner Join #Temp_DayBook_Expenses_BankDeposit t3 on CTE1.Date=t3.Date
		Where Srno=1
		UNION ALL
		Select CTE2.Srno+1 Srno,Format(CTE1.Date,''dd''),Convert(decimal(18,2),CTE2.[CLOSING BALANCE #J=H-I!]) Opening,'+@AllFeeCollectedByForCTE+','+@AllFeeCollectedByForCTE_SUM+' [ALL Total Amount],

		'+@AllFeeCollectedByOnlineForCTE+',[Online Total Amount] [ONLINE TOTAL AMOUNT (C)],
		ISNULL('+@AllFeeCollectedByForCTE_SUM+',0)-ISNULL([Online Total Amount],0) [CASH RECEIVED #D=B-C!],
		ISNULL('+@AllFeeCollectedByForCTE_SUM+',0)-ISNULL([Online Total Amount],0)+Convert(decimal(18,2),CTE2.[CLOSING BALANCE #J=H-I!]) [TOTAL CASH #E=A+D!],
		t1.Expens [VOUCHERS / EXPENSE (F)],
		t2.Expens [CANCELLED RECEIPTS (G)],
		ISNULL('+@AllFeeCollectedByForCTE_SUM+',0)-ISNULL([Online Total Amount],0)+Convert(decimal(18,2),CTE2.[CLOSING BALANCE #J=H-I!])-t1.Expens-t2.Expens [NET CASH #H=E-(F+G)!],
		t3.Expens [BANK DEPOSIT (I)],
		ISNULL('+@AllFeeCollectedByForCTE_SUM+',0)-ISNULL([Online Total Amount],0)+Convert(decimal(18,2),CTE2.[CLOSING BALANCE #J=H-I!])-t1.Expens-t2.Expens-t3.Expens [CLOSING BALANCE #J=H-I!],
		ISNULL('+@AllFeeCollectedByForCTE_SUM+',0)-ISNULL([Online Total Amount],0)-t1.Expens-t2.Expens-t3.Expens [TODAY CASH #K=D-(F+G+I)!]
		from CTE
		Inner Join CTE1 on CTE.Date=CTE1.Date
		Inner Join #Temp_DayBook_Expenses t1 on CTE1.Date=t1.Date
		Inner Join #Temp_DayBook_Expenses_Rec_Cancel t2 on CTE1.Date=t2.Date
		Inner Join #Temp_DayBook_Expenses_BankDeposit t3 on CTE1.Date=t3.Date
		Inner Join CTE2 on CTE2.Srno+1=CTE.Srno Where CTE2.Srno<CTE.Srno
	)
	Select *from CTE2'

	exec (@sql)
	print @sql
	--Set @sql='Select ''SRNO,DATE,OPENING,'+Replace(Replace(@AllFeeCollectedBy,'[',''),']','')+',TOTAL AMOUNT,'+Replace(Replace(@AllFeeCollectedBy_Online,'[',''),']','')+',(-) ONLINE TOTAL AMOUNT,CASH RECEIVED,TOTAL CASH,(-) VOUCHERS,(-) CANC. RCPT.,NET CASH,(-) BANK DEPOSIT,CLOSING BALANCE,TODAY CASH'' Columns'
	Set @sql='Select ''DATE,OPENING BALANCE (A),'+Replace(Replace(@AllFeeCollectedBy,'[',''),']','')+',ALL TOTAL AMOUNT (B),'+Replace(Replace(@AllFeeCollectedBy_Online,'[',''),']','')+',ONLINE TOTAL AMOUNT (C),CASH RECEIVED #D=B-C!,TOTAL CASH #E=A+D!,VOUCHERS / EXPENSE (F),CANCELLED RECEIPTS (G),NET CASH #H=E-(F+G)!,BANK DEPOSIT (I),CLOSING BALANCE #J=H-I!,TODAY CASH #K=D-(F+G+I)!'' Columns'
	--print @sql
	exec (@sql)

	Drop Table #Temp_Dates
	Drop Table #Temp_DayBook
	Drop Table #Temp_DayBook_Cash
	Drop Table #Temp_DayBook_Online
	Drop Table #Temp_DayBook_Expenses
	Drop Table #Temp_DayBook_Expenses_Rec_Cancel
	Drop Table #Temp_DayBook_Expenses_BankDeposit

END