ALTER PROC [dbo].[EmploymentformProc]
(
    @Queryfor NVARCHAR(2),
    @RecieptNo NVARCHAR(50) = NULL,
    @EmpName NVARCHAR(50) = NULL,
    @EmpFather NVARCHAR(50) = NULL,
    @EmpGender NVARCHAR(10) = NULL,
    @EmpContactNo NVARCHAR(20) = NULL,
    @EmpDesignation INT = NULL,
    @EmpAmount FLOAT = NULL,
    @EmployeeFormId INT = NULL,
    @HuabandName NVARCHAR(100) = NULL,
    @EmploymenttypeId INT = NULL,
    @SubjectId nvarchar(500) = NULL,
    @Email NVARCHAR(100) = NULL,
    @SessionName NVARCHAR(20) = NULL,
    @LoginName NVARCHAR(20) = NULL,
    @BranchCode INT = NULL,
    @IsCancel BIT = NULL,
    @EFDate DATETIME = NULL,
    @Msg NVARCHAR(200) = '' OUT
)
AS
BEGIN
	declare @Daybook as table(DepositDate datetime, ReceiptNo nvarchar(50), SrNo nvarchar(50), PaidAmount decimal(10, 2), BranchCode nvarchar(50), LoginName nvarchar(50)) 
	declare @Balance decimal(10,2)=0 
    IF (@Queryfor = 'S')
    BEGIN
        SELECT DISTINCT
               EmployeeFormId AS Id,
               RecieptNo,
               FORMAT(EFDate,'dd MMM yyyy') AS EFDate,
               EmpName,
               EmpFather,
               EmpGender,
               EmpContactNo,
               EmpDesignation AS Empdesid,
               edm.DesName EmpDesName,
               EmpAmount,
               HuabandName,
               EmploymenttypeId,
               Email,
			   IsCancel

        FROM Employmentform ef
            INNER JOIN DesMaster edm
                ON edm.DesId = EmpDesignation
        WHERE ef.BranchCode = @BranchCode
              --AND IsCancel = 'false'
			  ORDER BY ef.EmployeeFormId asc
    END;
    ELSE
    BEGIN
        IF (@Queryfor = 'I')
        BEGIN
            IF (@EFDate IS NULL)
            BEGIN

                SET @EFDate = GETDATE();

            END;
			While(Len(@SubjectId)>0 and @SubjectId<>'')
			BEGIN
				Declare @sid int
				IF(charindex(',',@SubjectId,0)>0)
				BEGIN
					set @sid=substring(@SubjectId,0,charindex(',',@SubjectId,0))
				END
				else
				BEGIN
					set @sid=@SubjectId
				END

				INSERT INTO Employmentform
				(
					RecieptNo,
					EFDate,
					EmpName,
					EmpFather,
					EmpGender,
					EmpContactNo,
					EmpDesignation,
					EmpAmount,
					EmployeeFormId,
					HuabandName,
					EmploymenttypeId,
					SubjectId,
					Email,
					IsCancel,
					SessionName,
					LoginName,
					BranchCode,
					RecordDate
				)
				VALUES
				(@RecieptNo, @EFDate, @EmpName, @EmpFather, @EmpGender, @EmpContactNo, @EmpDesignation, @EmpAmount,
				 @EmployeeFormId, @HuabandName, @EmploymenttypeId,@sid, @Email, 'False', @SessionName, @LoginName,
				 @BranchCode, GETDATE());

				 IF(charindex(',',@SubjectId,0)=0)
				 BEGIN
					set @SubjectId=''
				 END
				 ELSE
				 BEGIN
					set @SubjectId=substring(@SubjectId,charindex(',',@SubjectId,0)+1,Len(@SubjectId))
				 END
			END

			Delete From AccDayBook Where ReceiptNo=@RecieptNo and BranchCode=@BranchCode
  
			begin       
				 if exists(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)    
				 begin    
					set @Balance=(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)    
				 end       
			end

			insert into @Daybook
			(DepositDate, SrNo, ReceiptNo,PaidAmount, BranchCode, LoginName)
			select GETDATE(), 1, @RecieptNo, @EmpAmount, @BranchCode, @LoginName

			insert into AccDayBook
			(ReceiptNo, SrNo, Date, HeadType, HeadName, HeadCategory, Income, Expens, Balance, PaymentMode, Particulars, 
			BranchCode, LoginName, RecordDate)
			select ReceiptNo, db.SrNo, DepositDate, 'Income', 'Fee', 'Employment Form Fee', PaidAmount, 0, PaidAmount+@Balance, 'Cash', 
			'Receipt No.- '+ReceiptNo+' for '+@EmpName, 
			db.BranchCode, LoginName, GETDATE() from @Daybook db

            SET @Msg = 'S';
        END;

        ELSE IF (@Queryfor = 'U')
        BEGIN

            DECLARE @OldRecieptNo NVARCHAR(100),
                    @OldEFDate NVARCHAR(20);

            SELECT @OldRecieptNo = RecieptNo,
                   @OldEFDate = EFDate
            FROM Employmentform
            WHERE EmployeeFormId = @EmployeeFormId
			AND BranchCode = @BranchCode;

            UPDATE Employmentform
            SET EmpName = @EmpName,
                EmpFather = @EmpFather,
                EmpGender = @EmpGender,
                EmpContactNo = @EmpContactNo,
                EmpDesignation = @EmpDesignation,
                --EmpAmount = @EmpAmount,
                HuabandName = @HuabandName,
                Email = @Email,
                LoginName = @LoginName,
                RecordDate = GETDATE()
            WHERE EmployeeFormId = @EmployeeFormId;

			update AccDayBook Set
			Income=@EmpAmount, 
			Particulars='Receipt No.- '+ReceiptNo+' for '+@EmpName, 
			LoginName = @LoginName,
            RecordDate = GETDATE()
			WHERE ReceiptNo = @OldRecieptNo;

            SET @Msg = 'U';
        END;

        ELSE IF (@Queryfor = 'C')
        BEGIN
            UPDATE Employmentform
            SET IsCancel = 'true',
                RecordDate = GETDATE()
            WHERE EmployeeFormId = @EmployeeFormId
                  AND BranchCode = @BranchCode;

            SELECT @OldRecieptNo = RecieptNo,
			@EmpAmount=EmpAmount
            FROM Employmentform
            WHERE EmployeeFormId = @EmployeeFormId
			AND BranchCode = @BranchCode;
 
			begin       
				 if exists(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)    
				 begin    
					set @Balance=(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)    
				 end       
			end

			insert into @Daybook
			(DepositDate, SrNo, ReceiptNo,PaidAmount, BranchCode, LoginName)
			select GETDATE(), 1, @OldRecieptNo, @EmpAmount, @BranchCode, @LoginName

			insert into AccDayBook
			(ReceiptNo, SrNo, Date, HeadType, HeadName, HeadCategory, Income, Expens, Balance, PaymentMode, Particulars, 
			BranchCode, LoginName, RecordDate)
			select ReceiptNo, db.SrNo, DepositDate, 'Expense', 'Fee','Employment Form Fee', 0, PaidAmount, PaidAmount+@Balance, 'Cash',
			'Receipt No. - '+ ReceiptNo +' cancelled.',
			db.BranchCode, LoginName, GETDATE() from @Daybook db

            SET @Msg = 'C';
        END;
    END;
END;