ALTER Proc [dbo].[GenrateLibFeeReceipetProc]
(
 @Receiptno nvarchar(200)=null,
 @SessionName nvarchar(20)=null,
 @rulesFor  nvarchar(50)='Student',
 @BranchCode int=null
)
AS
BEGIN
    declare @HEADER as table
	(	  
      ReceiptNo nvarchar(50), Date nvarchar(50), SRNO nvarchar(20), studentName nvarchar(100), Class nvarchar(50), Section nvarchar(20), 
	  Branch nvarchar(20), Fathername nvarchar(100), Mode nvarchar(50)
	)
	Insert into 
	@HEADER(ReceiptNo,Date,SRNO,studentName,Class,Section,Branch,Fathername,Mode)
    Select Receiptno,Convert(nvarchar(11),Convert(smalldatetime,returndate),106) Date,asr.SrNo,Name, asr.CombineClassName,asr.SectionName,
	(CASE WHEN asr.IsDisplay=0 or asr.IsDisplay is null then '' ELSE '( '+asr.BranchName+' )' END) Branch,asr.FatherName,'Cash ('+rbf.Status+')' Mode
	from AllStudentRecord_UDF(@SessionName,@BranchCode) asr
	inner join BookIssueReturn bir on bir.srno=asr.SrNo and bir.branchcode=asr.BranchCode
	inner join ReturnBookFine rbf on rbf.BIRid=bir.id and rbf.branchcode=asr.BranchCode
	where Receiptno=@Receiptno and asr.SessionName=@SessionName and asr.BranchCode=@BranchCode
	group by Receiptno,Convert(smalldatetime,returndate),asr.SrNo,Name,CombineClassName,SectionName,IsDisplay,BranchName,FatherName,rbf.Status
	
	declare @MIDDEL as table(Particulars nvarchar(100), Amount nvarchar(20))
	insert into @MIDDEL(Particulars,Amount)
	select 'Accession No. '+accessionno+':'+
	(CASE WHEN latefine='Yes' then ' FINE ' ELSE '' END+'('+
	Convert(nvarchar(11),Convert(smalldatetime,convert(varchar, convert(date,DATEADD(day, 
	convert(int, (select isnull(R1, 0) from RulesForLibrary where SessionName=@SessionName and rulesFor=@rulesFor and BranchCode=@BranchCode)),  
	issuedate)))),106)+' to ' + Convert(nvarchar(11),Convert(smalldatetime,returndate),106)+') '+ 
	convert(varchar, DATEDIFF(day, convert(date, DATEADD(day, (select convert(int, isnull(R1, 0)) 
	from RulesForLibrary where SessionName=@SessionName and rulesFor=@rulesFor and BranchCode=@BranchCode), issuedate)), 
	convert(date, Returndate)))+' days x '+convert(nvarchar,'₹')+convert(nvarchar,(select isnull (R4, 0) 
	from RulesForLibrary where SessionName=@SessionName and rulesFor=@rulesFor and BranchCode=@BranchCode))
	+'(Fine per day)' 
	+CASE WHEN latefine='Yes' and damageid is not null then ' + ' ELSE '' END+
	+ CASE WHEN damageid is null then '' ELSE dcm.DamageCategory END) Particulars,
	ISNULL(rbf.FineAmount,0)+ISNULL(rbf.DamaageAmount,0) Amount
	from BookIssueReturn bir 
	inner join ReturnBookFine rbf on rbf.BIRid=bir.id and bir.branchcode=rbf.BranchCode
	left join DamageCategoryMaster dcm on dcm.Id=bir.damageid and bir.branchcode=dcm.BranchCode
	where Receiptno=@Receiptno and bir.BranchCode=@BranchCode

	declare @FOOTER as table
	(Receivedamount nvarchar(20), Amountinword nvarchar(500), Receveiedby nvarchar(200))

	Declare @Receivedamount nvarchar(20)
	Declare @Amountinword nvarchar(500)
	Declare @Receveiedbyon nvarchar(500)

	Select @Receivedamount=SUM(ISNULL(FineAmount,0))+SUM(ISNULL(DamaageAmount,0)), 
	@Receveiedbyon=(rbf.LoginName +' ' +Convert(nvarchar,format(returndate, 'dd MMM yyyy hh:mm:ss tt')))
	from BookIssueReturn bir 
	inner join ReturnBookFine rbf on rbf.BIRid=bir.id and bir.branchcode=rbf.BranchCode
	left join DamageCategoryMaster dcm on dcm.Id=bir.damageid and bir.branchcode=dcm.BranchCode
	where Receiptno=@Receiptno and bir.BranchCode=@BranchCode
	group by Convert(nvarchar,format(returndate, 'dd MMM yyyy hh:mm:ss tt')),rbf.LoginName

	print @Receveiedbyon

	declare @AmountinwordTable as table (Amountinword nvarchar(200))
	insert into @AmountinwordTable
	exec [dbo].[NUMBERTOSTRINGPROC] @Receivedamount,@Amountinword OUT
	
	insert into @FOOTER(Receivedamount,Amountinword,Receveiedby)
	values(@Receivedamount,@Amountinword,@Receveiedbyon)

	select *from @HEADER
	select *from @MIDDEL
	Select *from @FOOTER
END