Alter Table SetHeaderTemplate Add line15 bit
Go
ALTER Proc [dbo].[GetHeaderTemplateProc]
(
	@TemplateFor nvarchar(15),
	@BranchCode int
)
As
Begin
  Select line1,line2,line3,line4,line5,line6,line7,line8,line9,line10,line11,line12,ISNULL(line13,0),ISNULL(line14,0),ISNULL(line15,0)
   from SetHeaderTemplate where TemplateFor=@TemplateFor and BranchCode=@BranchCode
End













