ALTER procedure [dbo].[GetreceiptNo]
(
  @SessionName nvarchar(50),
  @BranchCode int,
  @ReceiptNo varchar(200)='' out
)
as
Begin
Begin Try
	Begin Tran	
		declare @StartType nvarchar(50)=null
		select top(1) @StartType=StartType from ReceiptNoStart where branchCode=@BranchCode order by id desc

		create table #temp (ReceiptNo int)
		declare @StartNo int=1 
		if exists(select * from CompositFeeDeposit WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end)
		begin
			insert into #temp
			select  convert(int, right(ReceiptNo, 8)) as ReceiptNo from CompositFeeDeposit WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end
		end
		if exists(select * from TCCollection WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end)
		begin
			insert into #temp
			select  convert(int, right(RecieptNo, 8)) as ReceiptNo from TCCollection WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end
		end
		if exists(select * from CCCollection WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end)
		begin
			insert into #temp
			select  convert(int, right(RecieptNo, 8)) as ReceiptNo from CCCollection WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end
		end
		if exists(select * from AdmissionFormCollection where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end)
		begin
			insert into #temp
			select  convert(int, right(RecieptNo, 8)) as ReceiptNo from AdmissionFormCollection WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end
		end
		if exists(select * from UniformFeeDeposit WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end)
		begin
			insert into #temp
			select  convert(int, right(Receipt_no, 8)) as ReceiptNo from UniformFeeDeposit WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end
		end
		if exists(select * from OtherFeeDeposit WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end)
		begin
			insert into #temp
			select  convert(int, right(Receipt_no, 8)) as ReceiptNo from OtherFeeDeposit WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end
		end
		if exists(select * from ReturnBookFine WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end)
		begin
			insert into #temp
			select  convert(int, right(ReceiptNo, 8)) as ReceiptNo  from ReturnBookFine WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end
		end
		if exists(select * from Other_fee_collection_1 WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end)
		begin
			insert into #temp
			select  convert(int, right(Receipt_no, 8)) as ReceiptNo from Other_fee_collection_1 WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end
		end
		if exists(select * from UniformFeeDeposit WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end)
		begin
			insert into #temp
			select  convert(int, right(Receipt_no, 8)) as ReceiptNo from UniformFeeDeposit WITH (UPDLOCK, HOLDLOCK) where BranchCode =@BranchCode and SessionName = case when @StartType='1' then @SessionName else SessionName end
		end

		if exists(select * from #temp)
		begin 
			set @StartNo=@StartNo+(select top(1) ReceiptNo from #temp WITH (UPDLOCK, HOLDLOCK) order by ReceiptNo desc)
		end
		drop table #temp
		select @StartNo as ReceiptNo
		declare @CollegeShortName varchar(200)
		select @CollegeShortName=CollegeShortNa from CollegeMaster where branchCode=@BranchCode
		Set @ReceiptNo=@CollegeShortName+ '/' + @SessionName+'/'+Right('000000000'+Convert(varchar(100),@StartNo),9)
	
	Commit Tran
End Try
Begin Catch
	Set @ReceiptNo=''
End Catch
end

