ALTER Proc [dbo].[InstituteMasterProc]
(
 @Id int=null,
 @BranchCode int
)
As
Begin
	Select collegename,UPPER(CollegeAdd1+', '+CollegeAdd2+', '+CityName+', '+StateName) address,
	UPPER(CollegeAdd1+', '+CollegeAdd2+', '+CityName) address2,
	(Select UPPER(BranchName) from BranchTab where BranchId=@BranchCode)+', '+UPPER(CityName) branchandcityname,UPPER(CityName) cityName,
	(Phone+', '+Email) phonenoandemil,phone,email,website,(email+', '+WebSite) emailandwebsite,
	affiliatedto,slogan,CologeLogoPath collegeLogo,AffiliationNo,ClassTeacherSign boarduniversitylogo,SchoolNo from CollegeMaster cgm
	inner join CountryMaster cum on cum.id=cgm.CountryName
	inner join StateMaster sm on sm.Id=cgm.StateId
	inner join CityMaster cm on cm.Id=cgm.CityId
	where cgm.BranchCode=@BranchCode
End


















