ALTER PROCEDURE [dbo].[Other_fee_collections_proc] 
(
	@Receipt_no     NVARCHAR(max), 
	@Srno           NVARCHAR(50), 
	@HeadId         NVARCHAR(50), 
	@SessionName    NVARCHAR(50), 
	@Amount         NUMERIC(18,2), 
	@Id             VARCHAR(50), 
	@Date           DATETIME, 
	@task           VARCHAR(50) , 
	@Concession     NUMERIC(18,2), 
	@ReceivedAmount NUMERIC(18, 2), 
	@MOP            NVARCHAR(50)=NULL, 
	@CheckDDNo      NVARCHAR(50)=NULL, 
	@BankName       NVARCHAR(50)=NULL, 
	@Status         NVARCHAR(50)=NULL, 
	@LoginName      NVARCHAR(50)=NULL, 
	@BranchCode     NVARCHAR(50)=NULL
) 
AS 
  BEGIN 
      IF( @task = 'Insert' ) 
	  begin
        INSERT INTO other_fee_collection 
                    ([receipt_no], 
                     [srno], 
                     [headid], 
                     [sessionname], 
                     [feedepositedate], 
                     amount, 
                     concession, 
                     receivedamount, 
                     mop, 
                     checkddno, 
                     bankname, 
                     status, 
                     loginname, 
                     branchcode, 
                     recorddate) 
        VALUES      (@Receipt_no, 
                     @Srno, 
                     @HeadId, 
                     @SessionName, 
                     @Date+convert(varchar,Convert(time,GETDATE())), 
                     @Amount, 
                     @Concession, 
                     @ReceivedAmount, 
                     @MOP, 
                     @CheckDDNo, 
                     @BankName, 
                     @Status, 
                     @LoginName, 
                     @BranchCode, 
                     Getdate() )
			if @MOP='Cash'
			begin
				declare @Daybook as table(ReceiptNo nvarchar(50), SrNo nvarchar(50), ReceivedAmount decimal(10, 2),Balance decimal(10, 2), BranchCode nvarchar(50), LoginName nvarchar(50)) 
				declare @Balance decimal(10,2)=0
				set @Balance=(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)

				insert into @Daybook
				(SrNo, ReceiptNo,ReceivedAmount,Balance, BranchCode, LoginName)
				select 
				@SrNo, @Receipt_no, @ReceivedAmount,@Balance, @BranchCode, @LoginName
	
				insert into AccDayBook
				(ReceiptNo, SrNo, Date, HeadType, HeadName, Income, Expens, Balance, PaymentMode, 
				Particulars, ChequeDate, ChequeNo, BankName, BranchCode, LoginName, RecordDate)
				select ReceiptNo, db.SrNo, @Date+convert(varchar,Convert(time,GETDATE())), 'Income', 'Fee', ReceivedAmount, 0, Balance+ReceivedAmount, 'Cash', 
				'Receipt No.- '+ReceiptNo+' for '+dbo.Name(FirstName,MiddleName,LastName)+' '+asr.CombineClassName,GETDATE(), '', '', db.BranchCode, db.LoginName, GETDATE() 
				From @Daybook db
				Inner Join AllStudentRecord_UDF(@SessionName,@BranchCode) asr on asr.SrNo=db.SrNo
			end 
		end

      IF( @task = 'Update' ) 
	  begin
        UPDATE other_fee_collection 
        SET    [receipt_no] = @Receipt_no, 
               [srno] = @Srno, 
               [headid] = @HeadId, 
               [sessionname] = @SessionName, 
               [feedepositedate] = @Date, 
               amount = @Amount, 
               concession = @Concession, 
               receivedamount = @ReceivedAmount 
        WHERE  id = @Id 

      IF( @task = 'Delete' ) 
        UPDATE other_fee_collection 
        SET    statas = 'Canceled' 
        WHERE  receipt_no = @Receipt_no 
	end
  END 













