ALTER PROCEDURE [dbo].[Other_fee_collections_1_proc]
(
	@Receipt_no nvarchar(max),@Srno nvarchar(50),@HeadId nvarchar(50),
	@SessionName nvarchar(50), @Amount Numeric(18,2),@Id Varchar(50),@Date Date,
	@task varchar(50),@Concession numeric(18,2),@ReceivedAmount numeric(18,2),
	@MOP nvarchar(50)=null,@CheckDDNo nvarchar(50)=null,@BankName nvarchar(50)=null,
	@Status nvarchar(50)=null,@LoginName nvarchar(50)=null,@BranchCode nvarchar(50)=null,
	@ChequeDate datetime=null, @ChequeStatus nvarchar(50)=null, @BounceCharges decimal(10, 2)=null,
	@Result Varchar(max)='' Out
)
AS
BEGIN
	if(@task='Insert')
	begin
		IF(ISNULL(@Receipt_no,'')='')
		BEGIN
			exec dbo.GetreceiptNo @SessionName=@SessionName,@BranchCode=@BranchCode,@ReceiptNo=@Receipt_no out
		END

		INSERT INTO Other_fee_collection_1
        ([Receipt_no], [Srno], [HeadId], [SessionName], [BranchCode],[FeeDepositeDate],Amount,Concession,ReceivedAmount, BounceCharges,
		MOP,CheckDDNo,BankName,Status,LoginName,RecordDate)
        VALUES
		(@Receipt_no,@Srno,@HeadId,@SessionName, @BranchCode,@Date,@Amount,@Concession,@ReceivedAmount, @BounceCharges,
		@MOP,@CheckDDNo,@BankName,@Status,@LoginName,GETDATE())
		if @MOP='Cash'
		begin
			declare @Balance decimal(10,2)=0
			if exists(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)
			begin
				set @Balance=(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)
			end
		end

		declare @Daybook as table(ReceiptNo nvarchar(50), SrNo nvarchar(50), ReceivedAmount decimal(10, 2),Balance decimal(10, 2), BranchCode nvarchar(50), LoginName nvarchar(50)) 

		insert into @Daybook
		(SrNo, ReceiptNo,ReceivedAmount,Balance, BranchCode, LoginName)
		select 
		@SrNo, @Receipt_no, @ReceivedAmount,@Balance, @BranchCode, @LoginName

		insert into AccDayBook
		(ReceiptNo, SrNo, Date, HeadType, HeadName, HeadCategory, Income, Expens, Balance, PaymentMode, Particulars, 
		ChequeDate, ChequeNo, BankName, BranchCode, LoginName, RecordDate)
		select ReceiptNo, db.SrNo, GETDATE(), 'Income', 'Fee', 'Additional Fee', ReceivedAmount, 0, Balance+ReceivedAmount, @MOP, 
		'Receipt No.- '+ReceiptNo+' for '+dbo.Name(FirstName,MiddleName,LastName)+' '+asr.CombineClassName, 
		GETDATE(), '', '', db.BranchCode, db.LoginName, GETDATE() From @Daybook db
		Inner Join AllStudentRecord_UDF(@SessionName,@BranchCode) asr on asr.SrNo=db.SrNo   

		Set @Result=@Receipt_no
	end

	if(@task='Update')
	begin
		UPDATE Other_fee_collection_1
		SET [Receipt_no] = @Receipt_no ,[Srno] = @Srno,[HeadId] = @HeadId,[SessionName] = @SessionName,[FeeDepositeDate] = @Date,Amount=@Amount,
		Concession=@Concession,ReceivedAmount=@ReceivedAmount WHERE Id=@Id and BranchCode=@BranchCode
	end

	If(@task='Delete')
	begin
		UPDATE Other_fee_collection_1 Set Statas='Canceled' WHERE Receipt_no=@Receipt_no and BranchCode=@BranchCode
	END
end
