ALTER Procedure [dbo].[PlannerMasterProc]        
(        
 @Id int=-1,        
 @PlannerFor varchar(10)=NULL,        
 @PlannerType int=NULL,        
 @PlannerName nvarchar(100)=NULL,        
 @StCountAtt bit=NULL,        
 @StaffCountAtt bit=NULL,        
 @FromDate Datetime=NULL,        
 @ToDate Datetime=NULL,        
 @Description nvarchar(500)=NULL,        
 @SessionName nvarchar(50)=NULL,        
 @BranchCOde int=NULL,        
 @LoginName nvarchar(50)=NULL,        
 @QueryFor char(1)='',        
 @Classids nvarchar(100)=NULL,        
 @Applyallchanges nvarchar(10)=NULL,        
 @MSG char(2)='' OUTPUT        
        
)        
AS        
BEGIN        
 IF(@QueryFor='S')        
  BEGIN        
        
Select pm.Id,PlannerFor,pty.PlannerType,PlannerName,ISNULL(StCountAtt,0) StCountAtt,ISNULL(StaffCountAtt,0) StaffCountAtt,        
   Format(FromDate,'dd MMM yyyy') FromDate,Format(ToDate,'dd MMM yyyy') ToDate,pm.Description , 
   pm.BranchCode,bt.BranchName
   from PlannerMaster pm          
   Inner join PlannerType pty on pty.Id=pm.PlannerType 
   --and pty.BranchCode=pm.BranchCOde 
     left join BranchTab bt on bt.BranchId=pm.BranchCOde         
   where        
   @Id=Case WHEN @Id=-1 then @Id ELSE pm.Id END AND        
   --@PlannerFor=Case WHEN @PlannerFor='' then @PlannerFor ELSE PlannerFor END AND        
   @PlannerType=Case WHEN @PlannerType=-1 then @PlannerType ELSE pm.PlannerType END 
   --AND         
  -- pm.SessionName=@SessionName 
   AND        
   ISNULL(@FromDate,0)>=CASE WHEN         
   ISNULL(@FromDate,0)=0 THEN 0 ELSE FromDate END AND        
   ISNULL(@ToDate,0)<=CASE WHEN         
   ISNULL(@ToDate,0)=0 THEN 0 ELSE ToDate END        
      order by Convert(NVARCHAR(20),FromDate,100)         
        
  END        
 ELSE IF(@QueryFor='U')        
  BEGIN        
   UPDATE PlannerMaster set PlannerName=@PlannerName,Description=@Description where Id=@Id and BranchCOde=@BranchCOde           
     set @MSG='S'        
  END        
 ELSE IF(@QueryFor='D')        
  BEGIN        
    BEGIN TRY    
   DELETE FROM PlannerMaster WHERE Id=@Id           
   DELETE FROM PlannerForClassWise WHERE PMID=@Id         
   DELETE FROM PlannerDate WHERE PID=@Id        
   set @MSG='S'        
    END TRY        
   BEGIN CATCH 
   Print Error_Message()
    if(@@ROWCOUNT>0)        
 ROLLBACK;        
   END CATCH          
  END        
 ELSE        
  BEGIN        
   BEGIN TRY        
   IF NOT EXISTS(SELECT *FROM PlannerMaster WHERE PlannerFor=@PlannerFor and         
   PlannerType=@PlannerType and PlannerName=@PlannerName 
   and SessionName=@SessionName and BranchCOde=@BranchCOde)        
    BEGIN        
 if(@Applyallchanges='0')      
 begin      
  Insert into PlannerMaster(PlannerFor,PlannerType,PlannerName,StCountAtt,StaffCountAtt,FromDate,ToDate,        
  Description,BranchCode,LoginName,SessionName)        
  values(@PlannerFor,@PlannerType,@PlannerName,@StCountAtt,@StaffCountAtt,@FromDate,@ToDate,        
  @Description,@BranchCode,@LoginName,@SessionName)        
        
  Declare @PMID int        
  SELECT @PMID=SCOPE_IDENTITY();         
  Declare @Classid int        
         
  WHILE(@Classids!='')        
   BEGIN        
    IF(CharIndex(',',@Classids,0)=0)        
     BEGIN        
      set @Classid=@Classids        
      INSERT INTO PlannerForClassWise(PMID,ClassId,RecordDate)        
      VALUES(@PMID,@Classid,GETDATE())        
      set @Classids=''        
     END        
    ELSE        
     BEGIN        
      set @Classid=SUBSTRING(@Classids,0,CharIndex(',',@Classids,0))        
      INSERT INTO PlannerForClassWise(PMID,ClassId,RecordDate)        
      VALUES(@PMID,@Classid,GETDATE())        
      set @Classids=SUBSTRING(@Classids,CharIndex(',',@Classids,0)+1,LEN(@Classids))        
     END        
   END        
        
         Declare @DateDif smallint        
   Declare @Date Datetime        
   set @DateDif=DATEDIFF(dd,@FromDate,@ToDate)        
   set @Date=@FromDate;        
   While(@DateDif>=0)        
   BEGIN             
     INSERT INTO PlannerDate(PID,LongDate,SmallDate,SessionName)        
        VALUES(@PMID,@Date,Convert(date,@Date),@SessionName)        
        
     set @Date=DATEADD(day,1,@Date)        
     set @DateDif=@DateDif-1;        
   END        
          end      
    else      
    begin      
    declare @temp table(ID int identity(1,1) Not null,SessionName varchar(100),BranchCode varchar(100))    
  declare @Plannertest1 nvarchar(500);  
 Set @Plannertest1=(Select PlannerType from PlannerType where Id=@PlannerType);  
  
  
    insert into @temp(SessionName,BranchCode)      
     --  Select SessionName,BranchCode from SessionMaster where  SessionName='2024-2025'    
    Select SessionName,BranchCode from PlannerType where PlannerType=@Plannertest1   
    --Select * from PlannerType where Id=3  
    declare @count int=1;      
    While(@count<=(Select COUNT(ID) from @temp))      
    begin      
 if not exists(Select SessionName from PlannerMaster where PlannerName=@PlannerName and BranchCode=(Select BranchCode from @temp where ID=@count) and SessionName=(Select SessionName from @temp where ID=@count))    
 begin    
 declare @Plannertest nvarchar(500),@PlannertestId nvarchar(500);  
 Set @Plannertest=(Select PlannerType from PlannerType where Id=@PlannerType);  
 Set @PlannertestId=(Select Id from PlannerType where PlannerType=@Plannertest);  
     Insert into PlannerMaster(PlannerFor,PlannerType,PlannerName,StCountAtt,StaffCountAtt,FromDate,ToDate,        
  Description,LoginName)        
  Select @PlannerFor,@PlannertestId,@PlannerName,@StCountAtt,@StaffCountAtt,@FromDate,@ToDate,        
  @Description,@LoginName from @temp where ID=@count      
  --values(@PlannerFor,@PlannerType,@PlannerName,@StCountAtt,@StaffCountAtt,@FromDate,@ToDate,        
  --@Description,@BranchCode,@LoginName,@SessionName)        
         
        
  Declare @PMID1 int        
  SELECT @PMID1=SCOPE_IDENTITY();         
  Declare @Classid1 int        
         
  WHILE(@Classids!='')        
   BEGIN        
    IF(CharIndex(',',@Classids,0)=0)        
     BEGIN        
      set @Classid1=@Classids        
      INSERT INTO PlannerForClassWise(PMID,ClassId,RecordDate)        
      VALUES(@PMID1,@Classid1,GETDATE())        
      set @Classids=''        
     END        
    ELSE        
     BEGIN        
      set @Classid=SUBSTRING(@Classids,0,CharIndex(',',@Classids,0))        
      INSERT INTO PlannerForClassWise(PMID,ClassId,RecordDate)        
      VALUES(@PMID1,@Classid1,GETDATE())        
      set @Classids=SUBSTRING(@Classids,CharIndex(',',@Classids,0)+1,LEN(@Classids))        
     END        
   END        
        
         Declare @DateDif1 smallint        
   Declare @Date1 Datetime        
   set @DateDif1=DATEDIFF(dd,@FromDate,@ToDate)        
   set @Date1=@FromDate;        
   While(@DateDif1>=0)        
   BEGIN             
     INSERT INTO PlannerDate(PID,LongDate,SmallDate,SessionName)        
        VALUES(@PMID1,@Date1,Convert(date,@Date1),@SessionName)        
        
     set @Date1=DATEADD(day,1,@Date1)        
     set @DateDif1=@DateDif1-1;        
   END        
     
    end      
     Set @count=@count+1;     
end      
end    
   set @MSG='S'        
   END        
   ELSE          
   set @MSG='DU'         
   END TRY        
   BEGIN CATCH          
    if(@@ROWCOUNT>0)        
 ROLLBACK;        
   END CATCH              
  END        
END