ALTER Proc [dbo].[Proc_GetStudentPersonalDetailsInSearchBox]
(
 @SessionName Nvarchar(50),
 @SearchText Nvarchar(50)='-1',
 @BranchCode int
)
AS
BEGIN
 with StudentDetail
 AS
 (
   Select SrNo, BranchName Branch,
   name StudentName,
   DOB,FatherName,FamilyContactNo,ClassName+
   Case When IsDisplay=1 then ' '+BranchName else '' end+IIF(ISNULL(SectionDisplay,0)=1,' (' + SectionName + ')','') ClassName,
   InstituteRollNo,CardNo,
   Medium,DateOfAdmiission,CIDOrder
   from AllStudentRecord_UDF(@SessionName, @BranchCode)
   where
   (SrNo like '%'+@SearchText+'%') or (Name like '%'+@SearchText+'%') or (InstituteRollNo like '%'+@SearchText+'%')
   or (CardNo like '%'+@SearchText+'%') or (ClassName like '%'+@SearchText+'%') 
 )
 Select StudentName+' '+ClassName+' '+SrNo+'@'+SrNo SearchText from StudentDetail
END
