ALTER proc [dbo].[ProvisionalFormProc]
(
  @id int=null,
  @Srno nvarchar(50)=null,
  @AdmissionClass nvarchar(100)=null,
  @WhichSessionName nvarchar(20)=null,
  @SessionName nvarchar(20),
  @BranchCode int,
  @LoginName nvarchar(20)=null,
  @FromDate date=null,
  @ToDate date=null,
  @Action nvarchar(20)=''
)
as
begin
	if @Action='insert'
	begin
		if exists(select 1 from ProvisionalForm where Srno=@srno and SessionName=@SessionName and BranchCode=@BranchCode)
		begin
			update ProvisionalForm set AdmissionClass=@AdmissionClass, WhichSessionName=@WhichSessionName
			where Srno=@srno and SessionName=@SessionName and BranchCode=@BranchCode
		end
		else
		begin
			insert into ProvisionalForm 
			(Srno, AdmissionClass,WhichSessionName, SessionName, BranchCode, LoginName,RecordedDate)
			values
			(@Srno, @AdmissionClass,@WhichSessionName, @SessionName, @BranchCode,@LoginName, getdate())
		end
	end
	if @Action='select'
	begin
		select *,(dbo.fnNumberToWords(Format(Convert(date,asr.DOB),'dd'))+' '+Format(Convert(date,asr.DOB),'MMMM')+' '+dbo.fnNumberToWords(Format(Convert(date,asr.DOB),'yyyy'))) DOBNew,
		pqm1.QualificationName FatherQualificationNew,pqm2.QualificationName MotherQualificationNew,pf.id as Pid, pf.SessionName curSession, 
		FORMAT(pf.RecordedDate, 'dd-MMM-yyyy hh:mm:ss tt') PrintDate 
		from AllStudentRecord_UDF(@SessionName,@BranchCode) asr
		inner join ProvisionalForm pf on pf.Srno=asr.SrNo and pf.SessionName=asr.SessionName and pf.BranchCode=asr.BranchCode
		left join ParentsQualificationMaster pqm1 on pqm1.ID=asr.FatherQualification
		left join ParentsQualificationMaster pqm2 on pqm2.ID=asr.MotherQualification
		where convert(date, pf.RecordedDate) between isnull(@FromDate, '01-Jan-2020') and isnull(@ToDate,getdate())
		and pf.id=isnull(@id, pf.id) and pf.Srno=isnull(@srno, pf.Srno) and pf.SessionName=@SessionName and pf.BranchCode=@BranchCode

	end
end
