ALTER PROCEDURE [dbo].[RecieptCancilationProc]
(
    @Srno NVARCHAR(50),
    @SessionName NVARCHAR(50),
    @BranchCode NVARCHAR(50),
    @LoginName NVARCHAR(50),
    @Mode NVARCHAR(50),
    @cancelBal decimal(10, 2),
    @RecieptSrNo NVARCHAR(50),
	@Module  NVARCHAR(50),
	@Remark varchar(250) 
)
as
begin	
		declare @Balance decimal(10,2)=0
		if exists(select Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' and Balance>0)
		begin
			set @Balance=(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' and Balance is not null order by id desc)
			set @Balance=ISNULL(@Balance,0)
		end
		else
		begin
			raiserror('Insufficient cash balance in account!', 18,2)return;
		end

		if exists(select SrNo from CompositFeeDeposit where BranchCode=@BranchCode and SessionName=@SessionName and ReceiptNo=@RecieptSrNo and SrNo=@Srno)
		begin
			update CompositFeeDeposit set 
			receiptStatus='Cancelled', 
			--LoginName=@LoginNAme, 
			--receiptStatusDate=getdate() ,
			CancelledBy=@LoginNAme,
			CancelledDate=getdate(),
			Remark=@Remark
			where BranchCode=@BranchCode and SessionName=@SessionName and ReceiptNo=@RecieptSrNo and SrNo=@Srno
			if not exists(select 1 from AccDayBook where BranchCode=@BranchCode and ReceiptNo=@RecieptSrNo and SrNo=@Srno
			and Particulars='Receipt No. - '+@RecieptSrNo+' cancelled.') 
			--and @Mode='Cash'
			begin
				Set @Balance=IIF(@Mode='Cash',@Balance,NULL)
				insert into AccDayBook
				(ReceiptNo, SrNo, Date, HeadType, HeadName, Income, Expens, Balance, PaymentMode, Particulars, ChequeDate, ChequeNo, BankName, BranchCode, 
				LoginName, RecordDate, HeadCategory)
				select @RecieptSrNo, @SrNo, getdate(), 'Expense', 'Fee', 0, @cancelBal, @Balance-@cancelBal,  @Mode,'Receipt No. - '+@RecieptSrNo+' cancelled.', 
				GETDATE(), '', '', @BranchCode, @LoginNAme, GETDATE(), 'Receipt Cancellation'
			end
		end

		if exists(select SrNo from OtherFeeDeposit where BranchCode=@BranchCode and SessionName=@SessionName and Receipt_no=@RecieptSrNo and SrNo=@Srno)
		begin
			update OtherFeeDeposit set PaymentSatus='Cancelled', cancel='0', 
			--LoginName=@LoginNAme, 
		   receiptCancelDate=getdate() ,
		   CancelledBy=@LoginNAme,
		   CancelledDate=getdate(),
		   Remark=@Remark
			where BranchCode=@BranchCode and SessionName=@SessionName and Receipt_no=@RecieptSrNo and SrNo=@Srno
			if not exists(select 1 from AccDayBook where BranchCode=@BranchCode and ReceiptNo=@RecieptSrNo and SrNo=@Srno
			and Particulars='Receipt No. - '+@RecieptSrNo+' cancelled.') 
			--and @Mode='Cash'
			begin
				Set @Balance=IIF(@Mode='Cash',@Balance,NULL)
				insert into AccDayBook
				(ReceiptNo, SrNo, Date, HeadType, HeadName, Income, Expens, Balance, PaymentMode, Particulars, ChequeDate, ChequeNo, BankName, BranchCode, 
				LoginName, RecordDate, HeadCategory)
				select @RecieptSrNo, @SrNo, getdate(), 'Expense', 'Fee', 0, @cancelBal, @Balance-@cancelBal, @Mode, 'Receipt No. - '+@RecieptSrNo+' cancelled.', 
				GETDATE(), '', '', @BranchCode, @LoginNAme, GETDATE() ,'Receipt Cancellation'
			end
		end

		if exists(select SrNo from TCCollection where BranchCode=@BranchCode and SessionName=@SessionName and RecieptNo=@RecieptSrNo and SrNo=@Srno)
		begin
			update TCCollection set Status='Cancelled', cancel='0', 
			--LoginName=@LoginNAme, 
			receiptCancelDate=getdate(),
			CancelledBy=@LoginNAme,
			CancelledDate=getdate(),
			remark=@Remark
			where BranchCode=@BranchCode and SessionName=@SessionName and RecieptNo=@RecieptSrNo and SrNo=@Srno
			if not exists(select 1 from AccDayBook where BranchCode=@BranchCode and ReceiptNo=@RecieptSrNo and SrNo=@Srno
			and Particulars='Receipt No. - '+@RecieptSrNo+' cancelled.') 
			--and @Mode='Cash'
			begin
				Set @Balance=IIF(@Mode='Cash',@Balance,NULL)
				insert into AccDayBook
				(ReceiptNo, SrNo, Date, HeadType, HeadName, Income, Expens, Balance, PaymentMode, Particulars, ChequeDate, ChequeNo, BankName, BranchCode, 
				LoginName, RecordDate, HeadCategory)
				select @RecieptSrNo, @SrNo, getdate(), 'Expense', 'Fee', 0, @cancelBal, @Balance-@cancelBal, @Mode, 'Receipt No. - '+@RecieptSrNo+' cancelled.', 
				GETDATE(), '', '', @BranchCode, @LoginNAme, GETDATE() ,'Receipt Cancellation'
			end
		end
		if exists(select SrNo from CCCollection where BranchCode=@BranchCode and SessionName=@SessionName and RecieptNo=@RecieptSrNo and SrNo=@Srno)
		begin
			update CCCollection set Status='Cancelled', cancel='0', 
			--LoginName=@LoginNAme, 
			receiptCancelDate=getdate(),
			CancelledBy=@LoginNAme,
			CancelledDate=getdate(),
			remark=@Remark 
			where BranchCode=@BranchCode and SessionName=@SessionName and RecieptNo=@RecieptSrNo and SrNo=@Srno
			if not exists(select 1 from AccDayBook where BranchCode=@BranchCode and ReceiptNo=@RecieptSrNo and SrNo=@Srno
			and Particulars='Receipt No. - '+@RecieptSrNo+' cancelled.') 
			--and @Mode='Cash'
			begin
				Set @Balance=IIF(@Mode='Cash',@Balance,NULL)
				insert into AccDayBook
				(ReceiptNo, SrNo, Date, HeadType, HeadName, Income, Expens, Balance, PaymentMode, Particulars, ChequeDate, ChequeNo, BankName, BranchCode, 
				LoginName, RecordDate, HeadCategory)
				select @RecieptSrNo, @SrNo, getdate(), 'Expense', 'Fee', 0, @cancelBal, @Balance-@cancelBal, @Mode, 'Receipt No. - '+@RecieptSrNo+' cancelled.', 
				GETDATE(), '', '', @BranchCode, @LoginNAme, GETDATE() ,'Receipt Cancellation'
			end
		end

		if exists(select SrNo from AdmissionFormCollection where BranchCode=@BranchCode and RecieptNo=@RecieptSrNo)
		begin
			update AdmissionFormCollection set Status='Cancelled', cancel='0', 
			--LoginName=@LoginNAme, 
			receiptCancelDate=getdate() ,
			CancelledBy=@LoginNAme,
			CancelledDate=getdate(),
			Remark=@Remark
			where BranchCode=@BranchCode and RecieptNo=@RecieptSrNo 
			if not exists(select 1 from AccDayBook where BranchCode=@BranchCode and ReceiptNo=@RecieptSrNo and SrNo=@Srno
			and Particulars='Receipt No. - '+@RecieptSrNo+' cancelled.') 
			--and @Mode='Cash'
			begin
				Set @Balance=IIF(@Mode='Cash',@Balance,NULL)
				insert into AccDayBook
				(ReceiptNo, SrNo, Date, HeadType, HeadName, Income, Expens, Balance, PaymentMode, Particulars, ChequeDate, ChequeNo, BankName, BranchCode, 
				LoginName, RecordDate, HeadCategory)
				select @RecieptSrNo, @SrNo, getdate(), 'Expense', 'Fee', 0, @cancelBal, @Balance-@cancelBal, @Mode, 'Receipt No. - '+@RecieptSrNo+' cancelled.', 
				GETDATE(), '', '', @BranchCode, @LoginNAme, GETDATE() ,'Receipt Cancellation'
			end
		end

		if exists(select SrNo from Other_fee_collection_1 where BranchCode=@BranchCode and SessionName=@SessionName and Receipt_no=@RecieptSrNo and SrNo=@Srno)
		begin
			update Other_fee_collection_1 set Status='Cancelled', cancel='0', 
			--LoginName=@LoginNAme, 
			receiptCancelDate=getdate() ,
			CancelledBy=@LoginNAme,
			CancelledDate=getdate(),
			Remark=@Remark
			where BranchCode=@BranchCode and SessionName=@SessionName and Receipt_no=@RecieptSrNo and SrNo=@Srno
			if not exists(select 1 from AccDayBook where BranchCode=@BranchCode and ReceiptNo=@RecieptSrNo and SrNo=@Srno
			and Particulars='Receipt No. - '+@RecieptSrNo+' cancelled.') 
			--and @Mode='Cash'
			begin
				Set @Balance=IIF(@Mode='Cash',@Balance,NULL)
				insert into AccDayBook
				(ReceiptNo, SrNo, Date, HeadType, HeadName, Income, Expens, Balance, PaymentMode, Particulars, ChequeDate, ChequeNo, BankName, BranchCode, 
				LoginName, RecordDate, HeadCategory)
				select @RecieptSrNo, @SrNo, getdate(), 'Expense', 'Fee', 0, @cancelBal, @Balance-@cancelBal, @Mode, 'Receipt No. - '+@RecieptSrNo+' cancelled.', 
				GETDATE(), '', '', @BranchCode, @LoginNAme, GETDATE() ,'Receipt Cancellation'
			end
		end

		if exists(select SrNo from UniformFeeDeposit where BranchCode=@BranchCode and SessionName=@SessionName and Receipt_no=@RecieptSrNo and SrNo=@Srno)
		begin
			update UniformFeeDeposit set PaymentSatus='Cancelled', cancel='0', 
			--LoginName=@LoginNAme, 
			receiptCancelDate=getdate() ,
			CancelledBy=@LoginNAme,
			CancelledDate=getdate(),
			Remark=@Remark
			where BranchCode=@BranchCode and SessionName=@SessionName and Receipt_no=@RecieptSrNo and SrNo=@Srno
			if not exists(select 1 from AccDayBook where BranchCode=@BranchCode and ReceiptNo=@RecieptSrNo and SrNo=@Srno
			and Particulars='Receipt No. - '+@RecieptSrNo+' cancelled.') 
			--and @Mode='Cash'
			begin
				Set @Balance=IIF(@Mode='Cash',@Balance,NULL)
				insert into AccDayBook
				(ReceiptNo, SrNo, Date, HeadType, HeadName, Income, Expens, Balance, PaymentMode, Particulars, ChequeDate, ChequeNo, BankName, BranchCode, 
				LoginName, RecordDate, HeadCategory)
				select @RecieptSrNo, @SrNo, getdate(), 'Expense', 'Fee', 0, @cancelBal, @Balance-@cancelBal, @Mode, 'Receipt No. - '+@RecieptSrNo+' cancelled.', 
				GETDATE(), '', '', @BranchCode, @LoginNAme, GETDATE() ,'Receipt Cancellation'
			end
		end

		if exists(select ReceiptNo from ReturnBookFine where BranchCode=@BranchCode and SessionName=@SessionName and ReceiptNo=@RecieptSrNo  and (select top(1) srno from BookIssueReturn where id=BIRid)=@Srno)
		begin
			update ReturnBookFine set Status='Cancelled', cancel='0', 
			--LoginName=@LoginNAme, 
			receiptCancelDate=getdate() ,
			CancelledBy=@LoginNAme,
			CancelledDate=getdate(),
			Remark=@Remark
			where BranchCode=@BranchCode and SessionName=@SessionName and ReceiptNo=@RecieptSrNo  and (select top(1) srno from BookIssueReturn where id=BIRid)=@Srno
			if not exists(select 1 from AccDayBook where BranchCode=@BranchCode and ReceiptNo=@RecieptSrNo and SrNo=@Srno
			and Particulars='Receipt No. - '+@RecieptSrNo+' cancelled.') 
			--and @Mode='Cash'
			begin
				Set @Balance=IIF(@Mode='Cash',@Balance,NULL)
				insert into AccDayBook
				(ReceiptNo, SrNo, Date, HeadType, HeadName, Income, Expens, Balance, PaymentMode, Particulars, ChequeDate, ChequeNo, BankName, BranchCode, 
				LoginName, RecordDate, HeadCategory)
				select @RecieptSrNo, @SrNo, getdate(), 'Expense', 'Fee', 0, @cancelBal, @Balance-@cancelBal, @Mode, 'Receipt No. - '+@RecieptSrNo+' cancelled.', 
				GETDATE(), '', '', @BranchCode, @LoginNAme, GETDATE() ,'Receipt Cancellation'
			end
		end
		delete from ManualDiscount where ApplyFrom='Onpage' and SrNo=@Srno and ReceiptNo=@RecieptSrNo and SessionName=@SessionName and BranchCode=@BranchCode
end