ALTER procedure [dbo].[ReportCard_XI_2021]  
(  
	@sessionName varchar(20) = null,  
	@SrNo varchar(20) = null,  
	@SectionName varchar(20) =null,  
	@TermName varchar(20) = null,  
	@ClassId int = null,  
	@BranchId int = null,  
	@StreamId int = null,  
	@SectionId int = null,  
	@branchCode int=null,  
	@isManual bit=0,  
	@status varchar(20) = null,  
	@action varchar(50)=''  
)  
as  
begin  
if @action='student'  
begin  
  
  declare @countStudents int =(select count(*) count from AllStudentRecord_UDF(@sessionName,@branchCode) stu  
  where stu.sessionName=@sessionName and isnull(stu.Promotion, '')<>'Cancelled'  
  and stu.ClassId=@ClassId and stu.SectionName=isnull(@SectionName,stu.SectionName)  and BranchId=@BranchId   
  and isnull(StreamId, '')=case when @StreamId=Null or isnull(@StreamId, '')='' then isnull(StreamId, '') else @StreamId end and stu.SrNo in (select distinct SrNo from CCEXI_1718)   
  and isnull(Withdrwal,'') = case when isnull(@status,'')='B' or isnull(@status,'')='' then isnull(Withdrwal,'') else case when isnull(@status,'')='A' then '' else 'W' end end  
  and isnull(blocked,'') = case when isnull(@status,'')='W' or isnull(@status,'')='' then isnull(blocked,'') else case when isnull(@status,'')='A' then '' else 'yes' end end)  
   
     select stu.SrNo as admissionNo,Name as StudentName, stu.SectionId, stu.Medium,  
  Case When convert(varchar(50), InstituteRollNo)='0' Then '' Else ISNULL(convert(varchar(50), InstituteRollNo),'') End InstituteRollNo,  
  FatherName, MotherName, DOB, CombineClassName as class_section, stu.SessionName,  
   stu.PhotoPath, BranchId, @countStudents as countStudents  
  from AllStudentRecord_UDF(@sessionName,@branchCode) stu  
  where stu.SrNo =isnull(@SrNo, stu.SrNo) and stu.sessionName=@sessionName and isnull(stu.Promotion, '')<>'Cancelled'  
  and stu.ClassId=@ClassId and stu.SectionName=isnull(@SectionName,stu.SectionName)  and BranchId=@BranchId   
  and isnull(StreamId, '')=case when @StreamId=Null or isnull(@StreamId, '')='' then isnull(StreamId, '') else @StreamId end and stu.SrNo in (select distinct SrNo from CCEXI_1718)   
  and isnull(Withdrwal,'') = case when isnull(@status,'')='B' or isnull(@status,'')='' then isnull(Withdrwal,'') else case when isnull(@status,'')='A' then '' else 'W' end end  
  and isnull(blocked,'') = case when isnull(@status,'')='W' or isnull(@status,'')='' then isnull(blocked,'') else case when isnull(@status,'')='A' then '' else 'yes' end end  
 end  
if @action='details'  
begin  
  
 declare @temp as table  
 (SrNo nvarchar(30), SubjectName nvarchar(50), ShortCode nvarchar(50),subjectCode nvarchar(50), isCompulsoryForBest5 bit,   
 DisplayOrder int, Evaluation nvarchar(50), ClassId int, SessionName nvarchar(50), SectionName nvarchar(50), Test1_1 nvarchar(20), Test2_1 nvarchar(20),   
 Prac_1 nvarchar(20), SAT_1 nvarchar(20), SubjectId_1 nvarchar(20),  PaperId_1 nvarchar(20),  MaxMarks1_1 nvarchar(20),   
 MaxMarks2_1 nvarchar(20),  MaxMarks3_1 nvarchar(20),  MaxMarks4_1 nvarchar(20),IsAditional  nvarchar(50),  
 Test1_2 nvarchar(20),  Test2_2 nvarchar(20),  Prac_2 nvarchar(20),  SAT_2 nvarchar(20),   
 SubjectId_2 nvarchar(20), PaperId_2 nvarchar(20),   MaxMarks1_2 nvarchar(20),   
 MaxMarks2_2 nvarchar(20),  MaxMarks3_2 nvarchar(20),  MaxMarks4_2 nvarchar(20))  
  
 insert into @temp  
 select *  from   
 (  
  select m.SrNo, pm.PaperName SubjectName, ShortCode,subjectCode, isnull(isCompulsoryForBest5,0)isCompulsoryForBest5,   
  isnull(DisplayOrder,0) DisplayOrder, m.Evaluation, m.ClassId, m.SessionName, m.SectionName, m.Test1 as Test1_1, m.Test2 as Test2_1,   
  m.Prac as Prac_1, m.SAT as SAT_1, m.SubjectId as SubjectId_1, m.PaperId as PaperId_1, mm.MaxMarks1 as MaxMarks1_1,   
  mm.MaxMarks2 as MaxMarks2_1, mm.MaxMarks3 as MaxMarks3_1, mm.MaxMarks4 as MaxMarks4_1, 0 IsAditional  
  from CCEXI_1718 m   
  inner join TTSubjectMaster sm on sm.Id=m.SubjectId and sm.Classid=m.ClassId and sm.SessionName=m.SessionName and sm.BranchCode=m.BranchCode  
  inner join SetMaxMinMarks_XI mm on mm.SubjectActivityId=m.SubjectId and mm.PaperId=m.PaperId and sm.SessionName=m.SessionName and sm.BranchCode=m.BranchCode and m.Evaluation=mm.Eval  
  inner join TTPaperMaster pm on pm.id=m.PaperId and pm.SubjectId=sm.id and sm.Classid=pm.ClassId and sm.BranchId=pm.BranchId and sm.SessionName=pm.SessionName and sm.BranchCode=pm.BranchCode  
  where  m.Evaluation='TERM1' and m.sessionName=@sessionName and m.SectionName=isnull(@SectionName, m.SectionName)  
  and m.ClassId=@ClassId and m.SrNo=@SrNo and m.BranchCode=@branchCode and IsAditional=0  
 ) as T1  
 left join (  
  select m.Test1 as Test1_2, m.Test2 as Test2_2, m.Prac as Prac_2, m.SAT as SAT_2,   
  m.SubjectId as SubjectId_2, m.PaperId as PaperId_2,  mm.MaxMarks2 as MaxMarks1_2,   
  mm.MaxMarks2 as MaxMarks2_2, mm.MaxMarks3 as MaxMarks3_2, mm.MaxMarks4 as MaxMarks4_2  
  from CCEXI_1718 m   
  inner join TTSubjectMaster sm on sm.Id=m.SubjectId and sm.Classid=m.ClassId and sm.SessionName=m.SessionName and sm.BranchCode=m.BranchCode  
  inner join SetMaxMinMarks_XI mm on mm.SubjectActivityId=m.SubjectId and mm.PaperId=m.PaperId and sm.SessionName=m.SessionName and sm.BranchCode=m.BranchCode and m.Evaluation=mm.Eval  
  inner join TTPaperMaster pm on pm.id=m.PaperId and pm.SubjectId=sm.id and sm.Classid=pm.ClassId and sm.BranchId=pm.BranchId and sm.SessionName=pm.SessionName and sm.BranchCode=pm.BranchCode  
  where   m.Evaluation='TERM2' and m.sessionName=@sessionName and m.SectionName=isnull(@SectionName, m.SectionName)  
  and m.ClassId=@ClassId and m.SrNo=@SrNo and m.BranchCode=@branchCode  and IsAditional=0  
 ) as T2  
 on T1.SubjectId_1=T2.SubjectId_2 and T1.PaperId_1=T2.PaperId_2  
 where T1.sessionName=@sessionName and T1.SectionName=isnull(@SectionName, T1.SectionName) and T1.ClassId=@ClassId and T1.ClassId=@ClassId and T1.SrNo=@SrNo  
 order by T1.DisplayOrder, t1.PaperId_1 asc  
  
 insert into @temp  
 select *  from   
 (  
  select m.SrNo, pm.PaperName SubjectName, ShortCode,subjectCode, isnull(isCompulsoryForBest5,0)isCompulsoryForBest5,   
  isnull(DisplayOrder,0) DisplayOrder, m.Evaluation, m.ClassId, m.SessionName, m.SectionName, m.Test1 as Test1_1, m.Test2 as Test2_1,   
  m.Prac as Prac_1, m.SAT as SAT_1, m.SubjectId as SubjectId_1, m.PaperId as PaperId_1, mm.MaxMarks1 as MaxMarks1_1,   
  mm.MaxMarks2 as MaxMarks2_1, mm.MaxMarks3 as MaxMarks3_1, mm.MaxMarks4 as MaxMarks4_1, 1 IsAditional  
  from CCEXI_1718 m   
  inner join TTSubjectMaster sm on sm.Id=m.SubjectId and sm.Classid=m.ClassId and sm.SessionName=m.SessionName and sm.BranchCode=m.BranchCode  
  inner join SetMaxMinMarks_XI mm on mm.SubjectActivityId=m.SubjectId and mm.PaperId=m.PaperId and sm.SessionName=m.SessionName and sm.BranchCode=m.BranchCode and m.Evaluation=mm.Eval  
  inner join TTPaperMaster pm on pm.id=m.PaperId and pm.SubjectId=sm.id and sm.Classid=pm.ClassId and sm.BranchId=pm.BranchId and sm.SessionName=pm.SessionName and sm.BranchCode=pm.BranchCode  
  where  m.Evaluation='TERM1' and m.sessionName=@sessionName and m.SectionName=isnull(@SectionName, m.SectionName)  
  and m.ClassId=@ClassId and m.SrNo=@SrNo and m.BranchCode=@branchCode and IsAditional=1  
 ) as T1  
 left join (  
  select m.Test1 as Test1_2, m.Test2 as Test2_2, m.Prac as Prac_2, m.SAT as SAT_2,   
  m.SubjectId as SubjectId_2, m.PaperId as PaperId_2, mm.MaxMarks2 as MaxMarks1_2,   
  mm.MaxMarks2 as MaxMarks2_2, mm.MaxMarks3 as MaxMarks3_2, mm.MaxMarks4 as MaxMarks4_2   
  from CCEXI_1718 m   
  inner join TTSubjectMaster sm on sm.Id=m.SubjectId and sm.Classid=m.ClassId and sm.SessionName=m.SessionName and sm.BranchCode=m.BranchCode  
  inner join SetMaxMinMarks_XI mm on mm.SubjectActivityId=m.SubjectId and mm.PaperId=m.PaperId and sm.SessionName=m.SessionName and sm.BranchCode=m.BranchCode and m.Evaluation=mm.Eval  
  inner join TTPaperMaster pm on pm.id=m.PaperId and pm.SubjectId=sm.id and sm.Classid=pm.ClassId and sm.BranchId=pm.BranchId and sm.SessionName=pm.SessionName and sm.BranchCode=pm.BranchCode  
  where   m.Evaluation='TERM2' and m.sessionName=@sessionName and m.SectionName=isnull(@SectionName, m.SectionName)  
  and m.ClassId=@ClassId and m.SrNo=@SrNo and m.BranchCode=@branchCode and IsAditional=1  
 ) as T2  
 on T1.SubjectId_1=T2.SubjectId_2 and T1.PaperId_1=T2.PaperId_2  
 where T1.sessionName=@sessionName and T1.SectionName=isnull(@SectionName, T1.SectionName) and T1.ClassId=@ClassId and T1.ClassId=@ClassId and T1.SrNo=@SrNo  
 order by T1.DisplayOrder, t1.PaperId_1 asc  
  
 select * from @temp where IsAditional=0 order by DisplayOrder, PaperId_1 asc  
 select * from @temp where IsAditional=1 order by DisplayOrder, PaperId_1 asc  
  
 -- ATTENDANCE  
 if @TermName='Term1'  
   begin  
   exec GetAttendenceproc_1718 @SrNo, @ClassId, 'Term1', @sessionName, @isManual, 'Term1', @SectionName, @branchCode  
    exec GetAttendenceproc_1718 @SrNo, @ClassId, 'Term1', @sessionName, @isManual, 'Term1', @SectionName, @branchCode  
   end  
   else  
   begin  
    exec GetAttendenceproc_1718 @SrNo, @ClassId, 'Term1', @sessionName, @isManual, 'Term1', @SectionName, @branchCode  
    exec GetAttendenceproc_1718 @SrNo, @ClassId, 'Term2', @sessionName, @isManual, 'Term2', @SectionName, @branchCode  
   end  
  
 -- CLASS TEACHER REMARKS  
 select t1.Caption as Caption1, t2.Caption as Caption2, t1.Eval as eval1, t2.Eval as eval2 from   
   ( select * from Exam_XItoXIIRemark where SrNo=@SrNo and SessionName = @sessionName and BranchCode=@branchCode and Eval='Term1') t1  
   left join   
   ( select * from Exam_XItoXIIRemark where SrNo=@SrNo and SessionName = @sessionName and BranchCode=@branchCode and Eval='Term2') t2  
   on t1.SrNo=t2.SrNo  
  
 -- CO SCHOLASTIC AREAS  
select distinct * from   
  ( Select distinct cm.id as id_1, CoscholasticName as CoscholasticName_1,   
  CCEXItoXIICoscholastic.grade Grade_1, isnull(cgm.DisplayOrder,0) DisplayOrder_1   
  from CoscholasticMaster cm  
  inner join CCEXItoXIICoscholastic on CCEXItoXIICoscholastic.CoscholasticId=cm.id and cm.SessionName = CCEXItoXIICoscholastic.SessionName and cm.BranchCode = CCEXItoXIICoscholastic.BranchCode  
  inner join CoscholasticGroupMaster cgm on cgm.Id = cm.GroupId and cm.ClassId=cgm.Classid and cgm.SessionName = cm.SessionName and cgm.BranchCode = cm.BranchCode  
  where cm.SessionName = @sessionName and cm.ClassId = @ClassId and cm.BranchCode=@branchCode  
  and SrNo=@SrNo and Evaluation=isnull('TERM 1', Evaluation)  and PartId=1) T1  
  
  left join (Select distinct CoscholasticName as CoscholasticName_2,   
  CCEXItoXIICoscholastic.grade Grade_2  
  from CoscholasticMaster cm  
  inner join CCEXItoXIICoscholastic on CCEXItoXIICoscholastic.CoscholasticId=cm.id and cm.SessionName = CCEXItoXIICoscholastic.SessionName and cm.BranchCode = CCEXItoXIICoscholastic.BranchCode  
  inner join CoscholasticGroupMaster cgm on cgm.Id = cm.GroupId and cm.ClassId=cgm.Classid and cgm.SessionName = cm.SessionName and cgm.BranchCode = cm.BranchCode  
  where cm.SessionName = @sessionName and cm.ClassId = @ClassId and SrNo=@SrNo  and cm.BranchCode=@branchCode   
  and Evaluation=isnull('TERM 2', Evaluation) and PartId=1) T2  
  on T1.CoscholasticName_1=T2.CoscholasticName_2   
  order by DisplayOrder_1, t1.id_1  
  
  
 -- SCHOOL MASTER  
 select * from CollegeMaster where BranchCode=@BranchCode  
  
 -- Total marks calculation  
 declare @temptotal as table (term1Total decimal(10,0), term2Total decimal(10,0), isCompulsoryForBest5 bit, SubjectId int )  
  
 insert into @temptotal  
 select (((isnull(TRY_CONVERT(decimal(10,0),(case when isnull(TRY_CONVERT(decimal(10,0),m.Test1_1),0)>isnull(TRY_CONVERT(decimal(10,0),m.Test2_1),0)   
  then (isnull(TRY_CONVERT(decimal(10,0),m.Test1_1),0)*10)/isnull(TRY_CONVERT(decimal(10,0),m.MaxMarks1_1),1)  else  (isnull(TRY_CONVERT(decimal(10,0),m.Test2_1),0)*10)/isnull(TRY_CONVERT(decimal(10,0),m.MaxMarks2_1),1) end)),0)  
  +isnull(TRY_CONVERT(decimal(10,0),m.SAT_1),0))  /(10+isnull(TRY_CONVERT(decimal(10, 0), MaxMarks3_1), 1)))  
  *isnull(TRY_CONVERT(decimal(10, 0), MaxMarks3_1), 1)) +isnull(TRY_CONVERT(decimal(10,0),m.Prac_1),0)term1Total,  
  
 (((TRY_CONVERT(decimal(10,0),(case when isnull(TRY_CONVERT(decimal(10,0),m.Test1_2),0)>isnull(TRY_CONVERT(decimal(10,0),m.Test2_2),0)   
  then (isnull(TRY_CONVERT(decimal(10,0),m.Test1_2),0)*10)/isnull(TRY_CONVERT(decimal(10,0),m.MaxMarks1_2),1)  else  (isnull(TRY_CONVERT(decimal(10,0),m.Test2_2),0)*10)/isnull(TRY_CONVERT(decimal(10,0),m.MaxMarks2_2),1) end))  
  +isnull(TRY_CONVERT(decimal(10,0),m.SAT_2),0))  /(10+isnull(TRY_CONVERT(decimal(10, 0), MaxMarks3_2), 1)))  
  *isnull(TRY_CONVERT(decimal(10, 0), MaxMarks3_2), 1)) +isnull(TRY_CONVERT(decimal(10,0),m.Prac_2),0)term2Total,  
 1 isCompulsoryForBest5,  
 SubjectId_1  
 from @temp m where isCompulsoryForBest5=1   
 union all  
 select (((isnull(TRY_CONVERT(decimal(10,0),(case when isnull(TRY_CONVERT(decimal(10,0),m.Test1_1),0)>isnull(TRY_CONVERT(decimal(10,0),m.Test2_1),0)   
  then (isnull(TRY_CONVERT(decimal(10,0),m.Test1_1),0)*10)/isnull(TRY_CONVERT(decimal(10,0),m.MaxMarks1_1),1)  else  (isnull(TRY_CONVERT(decimal(10,0),m.Test2_1),0)*10)/isnull(TRY_CONVERT(decimal(10,0),m.MaxMarks2_1),1) end)),0)  
  +isnull(TRY_CONVERT(decimal(10,0),m.SAT_1),0))  /(10+isnull(TRY_CONVERT(decimal(10, 0), MaxMarks3_1), 1)))  
  *isnull(TRY_CONVERT(decimal(10, 0), MaxMarks3_1), 1)) +isnull(TRY_CONVERT(decimal(10,0),m.Prac_1),0)term1Total,  
  
 (((TRY_CONVERT(decimal(10,0),(case when isnull(TRY_CONVERT(decimal(10,0),m.Test1_2),0)>isnull(TRY_CONVERT(decimal(10,0),m.Test2_2),0)   
  then (isnull(TRY_CONVERT(decimal(10,0),m.Test1_2),0)*10)/isnull(TRY_CONVERT(decimal(10,0),m.MaxMarks1_2),1)  else  (isnull(TRY_CONVERT(decimal(10,0),m.Test2_2),0)*10)/isnull(TRY_CONVERT(decimal(10,0),m.MaxMarks2_2),1) end))  
  +isnull(TRY_CONVERT(decimal(10,0),m.SAT_2),0))  /(10+isnull(TRY_CONVERT(decimal(10, 0), MaxMarks3_2), 1)))  
  *isnull(TRY_CONVERT(decimal(10, 0), MaxMarks3_2), 1)) +isnull(TRY_CONVERT(decimal(10,0),m.Prac_2),0)term2Total,  
 0 isCompulsoryForBest5,  
 SubjectId_1  
 from @temp m where isCompulsoryForBest5=0  
  
  
 declare @Finaltotal as table (term1Total decimal(10,0), term2Total decimal(10,0),GTotal decimal(10,0))  
  
 insert into @Finaltotal  
 select sum(term1Total), sum(term2Total), sum(term1Total)+sum(term2Total) from @temptotal where isCompulsoryForBest5=1  
  
 insert into @Finaltotal  
 select   
 (select sum(term1Total) from (select top 10 term1Total from @temptotal where isCompulsoryForBest5=0 order by term1Total desc)t1),  
 (select sum(term2Total) from (select top 10 term2Total from @temptotal where isCompulsoryForBest5=0 order by term2Total desc)t1),  
 (select sum(term1Total) from (select top 10 term1Total from @temptotal where isCompulsoryForBest5=0 order by term1Total desc)t1)+  
 (select sum(term2Total) from (select top 10 term2Total from @temptotal where isCompulsoryForBest5=0 order by term2Total desc)t1)  
  
  
 declare @FinaltotalMarks as table (term1Total decimal(10,0), term2Total decimal(10,0),GTotal decimal(10,0))  
 insert into @FinaltotalMarks  
 select sum(term1Total), sum(term2Total), sum(GTotal) from @Finaltotal  
  
 select isnull(term1Total,0) term1Total,isnull(term2Total,0) term2Total,   
 (case when isnull(term2Total,0)=0 then isnull(term1Total,0) else isnull(GTotal,0) end) GTotal from @FinaltotalMarks  

   -- Pass fail and promoted Result   
  select ResultText, PromotedTo, ReopenOn, GeneratedOn,
  (Select CityName from citymaster where id=(Select top 1 CityId from CollegeMaster where BranchCode=rm.BranchCode))Place 
  from ResultMaster rm with(nolock)   
  inner join StudentResultMapping srm with(nolock) on rm.ID=srm.ResultID and rm.BranchCode=srm.BranchCode  
  where SrNo=@SrNo and SessionName=@sessionName and rm.BranchCode=@branchCode 
   
 end  
 end