USE [eAMTesting]
GO
/****** Object:  StoredProcedure [dbo].[RoomAllotmentProc]    Script Date: 04-09-2025 00:06:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[RoomAllotmentProc]
(
 @RoomAllotmentId int=null,
 @SrNoOrEmpId nvarchar(50),
 @SrType nvarchar(50),
 @HostelCategoryId int,
 @BuildingLocationId int,
 @RoomId int,
 @RoomTypeId int,
 @BedId int,
 @RoomCostPerMonth DECIMAL(10,2),
 @DateFrom DATETIME,
 @DateTo DATETIME,
 @FrequencyofPayment nvarchar(50),
 @PaymentType nvarchar(50),
 @TotalMonths INT,
 @TotalAmount DECIMAL(10,2),
 @SessionName nvarchar(50),
 @BranchCode int,
 @LoginName nvarchar(50),
 @Remark nvarchar(500)
)   
as    
begin   
	insert into RoomAllotment
	(SrNoOrEmpId, SrType, HostelCategoryId, BuildingLocationId, RoomId, RoomTypeId, BedId, RoomCostPerMonth, DateFrom, DateTo,
	FrequencyofPayment, PaymentType,TotalMonths, TotalAmount, SessionName, BranchCode, LoginName, Remark, LivingStatus, RecordDate)   
	values
	(@SrNoOrEmpId, @SrType, @HostelCategoryId, @BuildingLocationId, @RoomId, @RoomTypeId, @BedId, @RoomCostPerMonth, @DateFrom, @DateTo,
	@FrequencyofPayment, @PaymentType, @TotalMonths, @TotalAmount, @SessionName, @BranchCode, @LoginName, @Remark, 1, GETDATE())
	update HostelBedMaster set BookedStatus=1 where id=@BedId
end




















