ALTER PROC [dbo].[Set_Get_PunchMachineConfiguration]
(
	@ID INT=NULL,
    @IpAddress VARCHAR(15) = NULL,
    @MachineNo INT = NULL,
    @PortNo INT = NULL,
    @Username VARCHAR(20) = NULL,
    @Password VARCHAR(10) = NULL,
	@ServerPortNo BIGINT = NULL,
	@DeviceType VARCHAR(20) = NULL,
	@ConnMode VARCHAR(5) = NULL,
	@IsPush BIT = NULL,
    @QueryFor CHAR(10) = NULL,
	@DeviceFor VARCHAR(20) = NULL,
	@BranchCode int =null,
    @Msg VARCHAR(2) = ' ' OUTPUT
)
AS
BEGIN
	IF (@QueryFor = 'select')
    BEGIN
        SELECT ID, IpAddress, MachineNo, PortNo, Username, Password, ServerPortNo, DeviceType, ConnMode, 
		CASE WHEN IsPush=1 THEN 'Yes' ELSE 'No' END IsPush, BranchCode, 'Staff' as DeviceFor
        FROM dbo.PunchMachineConfiguration 
		Where @DeviceType=Case when @DeviceType='' Then @DeviceType Else DeviceType End
		and BranchCode=isnull(BranchCode, @BranchCode)
		union all
		SELECT ID, IpAddress, MachineNo, PortNo, Username, Password, ServerPortNo, DeviceType, ConnMode, 
		CASE WHEN IsPush=1 THEN 'Yes' ELSE 'No' END IsPush, BranchCode, 'Student' as DeviceFor
        FROM dbo.PunchMachineConfigurationStudent 
		Where @DeviceType=Case when @DeviceType='' Then @DeviceType Else DeviceType End
		and BranchCode=isnull(BranchCode, @BranchCode)
    END;
    IF (@QueryFor = 'S')
    BEGIN
        SELECT ID, IpAddress, MachineNo, PortNo, Username, Password, ServerPortNo, DeviceType, ConnMode, 
		CASE WHEN IsPush=1 THEN 'Yes' ELSE 'No' END IsPush, BranchCode, 'Staff' as DeviceFor
        FROM dbo.PunchMachineConfiguration 
		Where @DeviceType=Case when @DeviceType='' Then @DeviceType Else DeviceType End
    END;
	IF (@QueryFor = 'Stu')
    BEGIN
		SELECT ID, IpAddress, MachineNo, PortNo, Username, Password, ServerPortNo, DeviceType, ConnMode, 
		CASE WHEN IsPush=1 THEN 'Yes' ELSE 'No' END IsPush, BranchCode, 'Student' as DeviceFor
        FROM dbo.PunchMachineConfigurationStudent 
		Where @DeviceType=Case when @DeviceType='' Then @DeviceType Else DeviceType End
    END;
    IF (@QueryFor = 'U')
    BEGIN
		IF NOT EXISTS (SELECT 1 FROM dbo.PunchMachineConfiguration 
		WHERE (IpAddress = @IpAddress or MachineNo = @MachineNo) and ID<>@ID)
		BEGIN
			IF @DeviceFor='Staff'
			BEGIN
				UPDATE dbo.PunchMachineConfiguration Set
				IpAddress=@IpAddress, 
				MachineNo=@MachineNo, 
				PortNo=PortNo, 
				Username=@Username, 
				Password=@Password, 
				ServerPortNo=@ServerPortNo, 
				DeviceType=@DeviceType, 
				ConnMode=@ConnMode,
				IsPush=@IsPush
				Where ID=@ID
			END
			ELSE  IF(@DeviceFor='Student')
			BEGIN
				UPDATE dbo.PunchMachineConfigurationStudent Set
				IpAddress=@IpAddress, 
				MachineNo=@MachineNo, 
				PortNo=PortNo, 
				Username=@Username, 
				Password=@Password, 
				ServerPortNo=@ServerPortNo, 
				DeviceType=@DeviceType, 
				ConnMode=@ConnMode,
				IsPush=@IsPush
				Where ID=@ID
			END

			SET @Msg = 'U';
		END
		ELSE
		BEGIN
			SET @Msg = 'Du';
		END
    END;
    ELSE IF (@QueryFor = 'D')
    BEGIN
		if @DeviceFor='Staff'
		begin
			DELETE FROM dbo.PunchMachineConfiguration
			WHERE isnull(IpAddress,'') = @IpAddress and BranchCode=@BranchCode
		end
		if @DeviceFor='Student'
		begin
			DELETE FROM dbo.PunchMachineConfigurationStudent
			WHERE isnull(IpAddress,'') = @IpAddress and BranchCode=@BranchCode
		end
        SET @Msg = 'S';

    END;
    ELSE IF (@QueryFor = 'I')
    BEGIN
		if @DeviceFor='Staff'
		begin
			IF NOT EXISTS (SELECT 1 FROM dbo.PunchMachineConfiguration 
			WHERE (IpAddress = @IpAddress and MachineNo = @MachineNo and BranchCode=@BranchCode))
			BEGIN
				INSERT INTO dbo.PunchMachineConfiguration
				(IpAddress, MachineNo, PortNo, Username, Password, ServerPortNo, DeviceType, ConnMode,IsPush,BranchCode)
				VALUES
				(@IpAddress, @MachineNo, @PortNo, @Username, @Password,@ServerPortNo,@DeviceType,@ConnMode,@IsPush,@BranchCode);
				SET @Msg = 'S';
			END;
			ELSE
			BEGIN
				SET @Msg = 'Du';
			END;
		end
		if @DeviceFor='Student'
		begin
			IF NOT EXISTS (SELECT 1 FROM dbo.PunchMachineConfigurationStudent 
			WHERE (IpAddress = @IpAddress and MachineNo = @MachineNo and BranchCode=@BranchCode))
			BEGIN
				INSERT INTO dbo.PunchMachineConfigurationStudent
				(IpAddress, MachineNo, PortNo, Username, Password, ServerPortNo, DeviceType, ConnMode,IsPush,BranchCode)
				VALUES
				(@IpAddress, @MachineNo, @PortNo, @Username, @Password,@ServerPortNo,@DeviceType,@ConnMode,@IsPush,@BranchCode);
				SET @Msg = 'S';
			END;
			ELSE
			BEGIN
				SET @Msg = 'Du';
			END;
		end
    END;
END;