ALTER Proc [dbo].[SetHeaderTemplateProc]
(
	@TemplateFor nvarchar(50),
	@line1 bit,
	@line2 bit,
	@line3 bit,
	@line4 bit,
	@line5 bit,
	@line6 bit,
	@line7 bit,
	@line8 bit,
	@line9 bit,
	@line10 bit,
	@line11 bit,
	@line12 bit,	
	@line13 bit,
	@line14 bit,
	@line15 bit,
	@SessionName nvarchar(15),
	@BranchCode int,
	@LoginName nvarchar(15),
	@Msg char(1) OUTPUT
)
As
Begin
  IF NOT EXISTS(Select * from SetHeaderTemplate where TemplateFor=@TemplateFor and BranchCode=@BranchCode)
   Begin
    insert into SetHeaderTemplate(TemplateFor,line1,line2,line3,line4,line5,line6,line7,line8,line9,line10,line11,line12,line13,line14,line15,
	SessionName,BranchCode,LoginName,RecordDate)
	values(@TemplateFor,@line1,@line2,@line3,@line4,@line5,@line6,@line7,@line8,@line9,@line10,@line11,@line12,@line13,@line14,@line15,
	@SessionName,@BranchCode,@LoginName,GETDATE())

	set @Msg='1'
   End
  ELSE
   Begin
    Update SetHeaderTemplate Set 
	line1=@line1,line2=@line2,line3=@line3,line4=@line4,line5=@line5,line6=@line6,line7=@line7,line8=@line8,line9=@line9,
	line10=@line10,line11=@line11,line12=@line12,line13=@line13,line14=@line14,line15=@line15
	where TemplateFor=@TemplateFor and BranchCode=@BranchCode
	set @Msg='1'
   End
End













