ALTER Proc [dbo].[sp_FeeCard]  
(  
 @Id int=null,  
 @sessionName nvarchar(50)=null,  
 @branchCode nvarchar(50)=null,  
 @ClassId int=null,  
 @branchid int =null,  
 @templetId int=null,  
 @SectionName nvarchar(50)=null,  
 @status nvarchar(50)=null,  
 @SectionId int=null,  
 @SrNo nvarchar(50)=null,  
 @AdmissionType nvarchar(50)=null,  
 @CardType int=null,  
 @monthid nvarchar(50)=null,  
 @action varchar(50)='',  
 @FeeMedium varchar(50)=null 
)  
As  
Begin  
 if @action='Student'  
 begin  
  ------- Student Info----------  
  select stu.SrNo as admissionNo,Name as StudentName, DOB, MotherName, FatherName, classname+' '+case when isnull(BranchName,'')='' or isnull(BranchName,'')='NA' or isnull(BranchName,'')='N/A' then '' else BranchName end  as class_section, CardNo, CombineClassName,  
  StLocalAddress, (StLocalAddress+' '+isnull(StLocalCityName, '')) as StPerAddress, FamilyContactNo MobileNumber, TypeOFAdmision, [CardId], TransportRequired, BranchName, BranchId  
  ,(StLocalAddress+' '+isnull(StLocalCityName, '')) as StPerAddress2  
  from AllStudentRecord_UDF(@sessionName,@branchCode) stu  
  where stu.SrNo =isnull(@SrNo, stu.SrNo) and stu.sessionName=@sessionName  
  and stu.ClassId=@ClassId and stu.SectionName=isnull(@SectionName,stu.SectionName) and stu.branchid=@branchid   
  and isnull(Withdrwal,'') = case when isnull(@status,'')='B' or isnull(@status,'')='' then isnull(Withdrwal,'') else case when isnull(@status,'')='A' then '' else 'W' end end  
  and isnull(blocked,'') = case when isnull(@status,'')='W' or isnull(@status,'')='' then isnull(blocked,'') else case when isnull(@status,'')='A' then '' else 'yes' end end  
 end  
  
 if @action='details'  
 begin  
  ------- Collage Info----------  
  Select collegename,UPPER(CollegeAdd1+', '+CollegeAdd2+', '+CityName) address,  
  UPPER(CollegeAdd1+', '+CollegeAdd2+', '+CityName) address2,  
  (Select UPPER(BranchName) from BranchTab where BranchId=@branchid)+', '+UPPER(CityName) branchandcityname,UPPER(CityName) cityName,  
  (Phone+', '+Email) phonenoandemil,phone,email,website,(email+', '+WebSite) emailandwebsite,  
  affiliatedto,slogan,CologeLogoPath collegeLogo, AffiliationNo from CollegeMaster cgm  
  inner join CountryMaster cum on cum.id=cgm.CountryName  
  inner join StateMaster sm on sm.Id=cgm.StateId  
  inner join CityMaster cm on cm.Id=cgm.CityId  
  where CollegeId=isnull(@Id, CollegeId) and cgm.BranchCode=@branchCode  
    
    
  ------- Installments----------  
  SELECT DISTINCT MonthName InstallmentName, MonthId, ClassId, CardType,Format(DueDate,'MMM') DueMonth,Format(DueDate,'yyyy') DueYear FROM MonthMaster WHERE SessionName=@sessionName and ClassId=@ClassId and   
  CardType=@CardType and BranchCode=@branchCode order by MonthId asc  
  
    
  ------- Fee Card Instructions----------  
  select * from tbl_FeeCardInstructions where 
  SessionName=@SessionName and BranchCode=@branchCode and templetId=@templetId  
 end  
  
 if @action='FeePayment'  
 begin  
 if(@FeeMedium='0')
 begin
  -------Installments Fee----------  
  select distinct * from (  
  select fh.FeeHead FeeType, FeeAmount FeePayment from FeeAllotedForClassWise  cws   
  inner join FeeHeadMaster fh on cws.FeeHeadId=fh.Id and cws.BranchCode=fh.BranchCode   
  and fh.FeeType in ('Tuition Fee') where cws.SessionName=@sessionName and ClassId=@ClassId and AdmissionType=@AdmissionType   
  and CardType=@CardType and [MonthId]=@monthid and Branchid=@branchid and cws.BranchCode=@branchCode and fh.FeeType<>'Optional'  
  --union all  
  --select FeeHead FeeType, Amount FeePayment from OptionalFeeAllotment where SessionName=@sessionName and BranchCode=@branchCode  and installmentId=@monthid and SrNo=@SrNo  
  )t 
  end
  else
  begin
    select distinct * from (  
  select fh.FeeHead FeeType, FeeAmount FeePayment from FeeAllotedForClassWise  cws   
  inner join FeeHeadMaster fh on cws.FeeHeadId=fh.Id and cws.BranchCode=fh.BranchCode   
  and fh.FeeType in ('Tuition Fee') where cws.SessionName=@sessionName and ClassId=@ClassId and AdmissionType=@AdmissionType   
  and CardType=@CardType and [MonthId]=@monthid and Branchid=@branchid and cws.BranchCode=@branchCode and fh.FeeType<>'Optional'  and cws.Medium=@FeeMedium
  --union all  
  --select FeeHead FeeType, Amount FeePayment from OptionalFeeAllotment where SessionName=@sessionName and BranchCode=@branchCode  and installmentId=@monthid and SrNo=@SrNo  
  )t 
  end
 end  
End  
  