ALTER Procedure [dbo].[StudentOfficialDetailsProc]  
(  
 @StEnRCode nvarchar(150),  
 @SrNo nvarchar(150),@DateOfAdmiission smalldatetime,  @AdmissionForClassId int,  
 @SectionId int,@GroupNa nvarchar(50),@FileNo nvarchar(50),@Reference nvarchar(50),  
 @Remark nvarchar(500),@BranchCode int,@LoginName nvarchar(50),  
 @SessionName nvarchar(50),@Medium nvarchar(50),@Board nvarchar(50),  
 @TypeOFAdmision nvarchar(50),@Card nvarchar(50), @CardId int,@HostelRequired nvarchar(50)=null,  
 @TransportRequired nvarchar(50)=null,@HouseName nvarchar(50)=null,@LibraryRequired nvarchar(50)=null,  
 @Enquiry nvarchar(150)=null,@BoardUniversityRollNo nvarchar(50)=null,@InstituteRollNo nvarchar(50),  
 @CardNo nvarchar(10)=null,@MachineNo nvarchar(10)=null,@Course int, @branch int,@Scholarship nvarchar(10)=null,  
 @ModForHostel nvarchar(10)=null,@ModForTransport nvarchar(10)=null,@ModForLibrary nvarchar(10)=null, @ShiftId int=null, @EducationActId int=null,  
 @MODForFeeDeposit nvarchar(10)='I',@SMSAcknowledgment nvarchar(15),@EmailAcknowledgment nvarchar(100)=null,@DFA nvarchar(100)=null,@CFA nvarchar(100)=null,  
 @COFA nvarchar(100)=null,@SFA nvarchar(100)=null,@Streamid int=null,@TypeofEducation char(1)=null,@AdmissionDoneAt Decimal(18,2)=null,  
 @RecieptNo nvarchar(50)=null,
 @APAARID nvarchar(50)= null,
 @BookletNo nvarchar(150)= null,
 @MSG VARCHAR(100) OUTPUT  
)  
As    
begin   
 SET XACT_ABORT, NOCOUNT ON;  
    BEGIN TRY  
    BEGIN TRANSACTION;  
  if exists(select * from tblAutometedSRNO where SrNoType='Automatic' and BranchCode=@BranchCode)  
  begin  
   if exists(select * from tblAutometedSRNO where SrNoType='Automatic' and BranchCode=@BranchCode and AutomaticSrNoType='Numeric')  
   begin  
     select @SrNo=convert(varchar,InitialNoNumeric) from tblAutometedSRNO where SrNoType='Automatic' and BranchCode=@BranchCode and AutomaticSrNoType='Numeric'  
   end  
   if exists(select * from tblAutometedSRNO where SrNoType='Automatic' and BranchCode=@BranchCode and AutomaticSrNoType='AlfaNumeric')  
   begin  
    select @SrNo=(PreString+Separater+convert(varchar,InitialNoNumeric)) from tblAutometedSRNO where SrNoType='Automatic' and BranchCode=@BranchCode and AutomaticSrNoType='AlfaNumeric'  
   end  
   if exists(select * from tblAutometedSRNO where SrNoType='Automatic' and BranchCode=@BranchCode and AutomaticSrNoType='Customized')  
   begin  
    select @SrNo=(PreString+(case when isnull(PreString, '')='' then '' else Separater end)  
    +convert(varchar(20),InitialNoNumeric)+(convert(varchar(20),Separater2))+convert(varchar(20),RegisterNo)) from tblAutometedSRNO where SrNoType='Automatic' and BranchCode=@BranchCode   
    and AutomaticSrNoType='Customized'  
   end  
  end  
  declare @co int   select @co=MAX(Id) from StudentOfficialDetails    
  if @co is null    
  begin     
   set @co =0    
  end     
  set @co=@co+1    
  if exists(select * from StudentOfficialDetails where SrNo=@SrNo)  
  begin  
   set @MSG= 'Already##'+@SrNo  
  end  
  else  
  begin  
  insert into StudentOfficialDetails  
  (  
   Id,StEnRCode,SrNo,DateOfAdmiission, AdmissionForClassId,SectionId,GroupNa,FileNo,Reference,Remark,  BranchCode ,  
   LoginName ,SessionName,RecordDate,medium ,Board,TypeOFAdmision, Card, CardId, HostelRequired,TransportRequired,HouseName,LibraryRequired,  
   Enquiry,BoardUniversityRollNo,InstituteRollNo,CardNo,MachineNo,Course,branch,Scholarship, ModForHostel,ModForTransport,  
   ModForLibrary,MODForFeeDeposit,SMSAcknowledgment,EmailAcknowledgment,DFA,CFA,COFA,SFA,Streamid,  
   TypeofEducation,AdmissionDoneAt, EducationActId,APAARID,BookletNo  
  )  
  values    
  (  
   @co,@StEnRCode,@SrNo,@DateOfAdmiission,@AdmissionForClassId,@SectionId,@GroupNa,  
   @FileNo,@Reference,@Remark,   @BranchCode ,@LoginName ,@SessionName,GETDATE(),  
   @Medium,@Board,@TypeOFAdmision,@Card, @CardId,@HostelRequired,@TransportRequired,@HouseName,  
   @LibraryRequired,@Enquiry,@BoardUniversityRollNo,@InstituteRollNo,@CardNo,@MachineNo,@Course,@branch,@Scholarship,  
   @ModForHostel,@ModForTransport,@ModForLibrary,@MODForFeeDeposit,@SMSAcknowledgment,@EmailAcknowledgment,  
   @DFA,@CFA,@COFA,@SFA,@Streamid,@TypeofEducation,@AdmissionDoneAt, @EducationActId,@APAARID,@BookletNo  
  )  
	IF(ISNULL(@shiftId,0)<>0)
	BEGIN
		Insert into StudentShiftMapping(Shiftid,SrNo,SessionName,BranchCode,LoginName,RecordedDate)
		Values(@Shiftid,@SrNo,@SessionName,@BranchCode,@LoginName,GETDATE())
	END
  if exists(select * from tblAutometedSRNO where SrNoType='Automatic' and BranchCode=@BranchCode)  
  begin  
   if exists(select * from tblAutometedSRNO where SrNoType='Automatic' and BranchCode=@BranchCode and AutomaticSrNoType='Numeric')  
   begin  
     update tblAutometedSRNO set InitialNoNumeric=InitialNoNumeric+1 where SrNoType='Automatic' and BranchCode=@BranchCode   
     and AutomaticSrNoType='Numeric'  
   end  
   if exists(select * from tblAutometedSRNO where SrNoType='Automatic' and BranchCode=@BranchCode and AutomaticSrNoType='AlfaNumeric')  
   begin  
    update tblAutometedSRNO set InitialNoNumeric=InitialNoNumeric+1 where SrNoType='Automatic' and BranchCode=@BranchCode   
     and AutomaticSrNoType='AlfaNumeric'  
   end  
   if exists(select * from tblAutometedSRNO where SrNoType='Automatic' and BranchCode=@BranchCode and AutomaticSrNoType='Customized')  
   begin  
    declare @Serial int=(select InitialNoNumeric from tblAutometedSRNO where SrNoType='Automatic' and BranchCode=@BranchCode and AutomaticSrNoType='Customized')  
    declare @NoofPages int=(select NoofPages from tblAutometedSRNO where SrNoType='Automatic' and BranchCode=@BranchCode and AutomaticSrNoType='Customized')  
    if (@Serial>=@NoofPages)  
    begin  
    if (@Serial%@NoofPages=0)  
     begin  
      update tblAutometedSRNO set RegisterNo=RegisterNo+1 where SrNoType='Automatic' and BranchCode=@BranchCode   
      and AutomaticSrNoType='Customized'  
     end  
    end  
    update tblAutometedSRNO set InitialNoNumeric=InitialNoNumeric+1 where SrNoType='Automatic' and BranchCode=@BranchCode  
    and AutomaticSrNoType='Customized'  
   end  
  end  
  if isnull(@RecieptNo, '')<>''  
  begin   
     
   update AdmissionFormCollection set AdmissionStatus=1, EnteranceStatus='Passed', EntrenceDate=GETDATE() where RecieptNo=@RecieptNo and BranchCode=@BranchCode  
   if exists(select * from AdmissionFormCollection where RecieptNo=@RecieptNo and BranchCode=@BranchCode and isnull(EnquiryNo, '')<>'')  
   begin  
    update AdmissionEnquiry set Status='Registered' where isnull(EnquiryNo, '')=  
    (select isnull(EnquiryNo,'00000') from AdmissionFormCollection where RecieptNo=@RecieptNo and BranchCode=@BranchCode and isnull(EnquiryNo, '')<>'')  
   end  
  end  
  set @MSG= @StEnRCode+'##'+@SrNo  
  end  
  COMMIT TRANSACTION;  
 END TRY  
    BEGIN CATCH  
 IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;  
  
        DECLARE @Message nvarchar(2048) = ERROR_MESSAGE();  
        DECLARE @Severity integer = ERROR_SEVERITY();  
        DECLARE @State integer = ERROR_STATE();  
  
        RAISERROR(@Message, @Severity, @State);  
        RETURN -1;  
    END CATCH;  
end  
  
  
  
  
  
  
  
  
  
  
  
  
  
  