ALTER Procedure [dbo].[StudentOfficialDetailsUpdateProc] 
(    
  @SrNo nvarchar(25),     
  @StEnRCode nvarchar(25),     
  @DateOfAdmiission smalldatetime,     
  @AdmissionForClassId int,     
  @SectionId int,     
  @GroupNa nvarchar(50),     
  @FileNo nvarchar(50),     
  @Reference nvarchar(50),     
  @Remark nvarchar(500),     
  @BranchCode int,     
  @LoginName nvarchar(50),     
  @SessionName nvarchar(50),     
  @medium nvarchar(50),     
  @Board nvarchar(50),     
  @TypeOFAdmision nvarchar(50),     
  @Card nvarchar(50),     
  @Cardid int,     
  @HostelRequired nvarchar(50),     
  @TransportRequired nvarchar(50),     
  @HouseName nvarchar(50),     
  @LibraryRequired nvarchar(50),     
  @Enquiry nvarchar(150),     
  @BoardUniversityRollNo nvarchar(50),     
  @InstituteRollNo nvarchar(50),     
  @CardNo nvarchar(50),     
  @MachineNo nvarchar(10),     
  @Course int,     
  @Branch int,     
  @Scholarship nvarchar(10),     
  @ModForHostel nvarchar(10),     
  @ModForTransport nvarchar(10),     
  @ModForLibrary nvarchar(10),     
  @MODForFeeDeposit nvarchar(10),     
  @SMSAcknowledgment nvarchar(15),     
  @EmailAcknowledgment nvarchar(100),     
  @DFA nvarchar(100),     
  @CFA nvarchar(100),     
  @COFA nvarchar(100),     
  @SFA nvarchar(100),     
  @Streamid int = null,     
  @TypeofEducation char(1)= null,     
  @AdmissionDoneAt decimal(10, 2)= NULL,     
  @shiftId int = NULL,     
  @EducationActId int = null,
  @APAARID nvarchar(50)= null,
  @BookletNo nvarchar(150)= null
) AS begin Begin     
  
Update     
  
  StudentOfficialDetails     
  
set     
  
  AdmissionForClassId = @AdmissionForClassId,     
  
  SectionId = @SectionId,     
  
  GroupNa = @GroupNa,     
  
  FileNo = @FileNo,     
  
  Reference = @Reference,     
  
  Remark = @Remark,     
  
  BranchCode = @BranchCode,     
  
  LoginName = @LoginName,     
  
  SessionName = @SessionName,     
  
  RecordDate = GETDATE(),     
  
  Medium = @medium,     
  
  Board = @Board,     
  
  Card = @Card,     
  
  CardId = @Cardid,     
  
  HostelRequired = @HostelRequired,     
  
  TransportRequired = @TransportRequired,     
  
  HouseName = @HouseName,     
  
  LibraryRequired = @LibraryRequired,     
  
  Enquiry = @Enquiry,     
  
  BoardUniversityRollNo = @BoardUniversityRollNo,     
  
  InstituteRollNo = @InstituteRollNo,     
  
  CardNo = @CardNo,     
  
  MachineNo = @MachineNo,     
  
  Course = @Course,     
  
  Branch = @Branch,     
  
  Scholarship = @Scholarship,     
  
  ModForHostel = @ModForHostel,     
  
  ModForTransport = @ModForTransport,     
  
  ModForLibrary = @ModForLibrary,     
  
  MODForFeeDeposit = @MODForFeeDeposit,     
  
  SMSAcknowledgment = @SMSAcknowledgment,     
  
  EmailAcknowledgment = @EmailAcknowledgment,     
  
  Streamid = @Streamid,     
  
  TypeofEducation = @TypeofEducation,     
  
  AdmissionDoneAt = Case When @AdmissionDoneAt IS NULL then 0 else @AdmissionDoneAt End,     
  
  EducationActId = @EducationActId,    
  BookletNo=@BookletNo
   
  
where     
  
  SrNo = @SrNo     
  
  and SessionName = @SessionName     
  
  and BranchCode = @BranchCode     
  
	update     
  
	TCCollection     
  
	set     
  
	DateOfFAD = @DateOfAdmiission     
  
	where     
  
	srno = @SrNo     
  
	and BranchCode = @BranchCode 
 
	Declare @StudentName nvarchar(100),@FatherName nvarchar(100),@FatherContactNo nvarchar(15),@MotherName nvarchar(100),
	@Class nvarchar(100),@Sex nvarchar(100),@AdmissionFromDate nvarchar(100)

	Select @StudentName=Name,@FatherName=FatherName,@FatherContactNo=FatherContactNo,@MotherName=MotherName,
	@Class=ClassName,@Sex=Gender,@AdmissionFromDate=DateOfAdmiission
	from AllStudentRecord_UDF(@SessionName,@BranchCode) Where SrNo=@SrNo and BranchCode=@BranchCode

	--Please do not change the order of StudentGeneralDetailsUpdateProc,StudentFamilyDetailsUpdateProc,StudentOfficialDetailsUpdateProc 
	--so that Record properly update in TCCollection and CCCollection Tables
	------------------------------------------------------------------------------------------------------------------------------------
	Update TCCollection    
	set StudentName=@StudentName, FatherName=@FatherName,FatherContactNo=@FatherContactNo, MotherName=@MotherName,
	Class=@Class, Sex=@Sex
	--AdmissionFromDate=@AdmissionFromDate  
	where SrNo=@SrNo and BranchCode=@BranchCode    

	Update CCCollection set
	StudentName=@StudentName,FatherName=@FatherName,Class=@Class,Sex=@Sex,FatherContactNo=@FatherContactNo
	where SrNo=@SrNo and BranchCode=@BranchCode  
	------------------------------------------------------------------------------------------------------------------------------------
  End 
  Begin
  
  Declare @count smallint     
  
Select     
  
  @count = Count(*)     
  
from     
  
  StudentOfficialDetails     
  
where     
  
  SrNo = @SrNo     
  
  and BranchCode = @BranchCode if(@count = 1) BEGIN     
  
Update     
  
  StudentOfficialDetails     
  
set     
  
  TypeOFAdmision = @TypeOFAdmision     
  
where     
  
  SrNo = @SrNo     
  
  and BranchCode = @BranchCode END End Begin     
  
Update     
  
  StudentOfficialDetails     
  
set     
  
  DateOfAdmiission = @DateOfAdmiission,     
  
  DFA = @DFA,     
  
  CFA = @CFA,     
  
  COFA = @COFA,     
  
  SFA = @SFA,

  APAARID=@APAARID
  
where     
  
  SrNo = @SrNo     
  
  and BranchCode = @BranchCode End end

IF EXISTS(Select Top 1 1 from StudentOfficialDetails Where SrNo=@SrNo and BranchCode=@BranchCode and Promotion is null and Withdrwal is null)
BEGIN
	IF EXISTS(Select Top 1 1 from StudentShiftMapping Where SrNo=@SrNo and BranchCode=@BranchCode)
	BEGIN
		Update StudentShiftMapping Set Shiftid=@shiftId, SessionName=@SessionName,RecordedDate=GETDATE() Where SrNo=@SrNo and BranchCode=@BranchCode
	END
	ELSE
	BEGIN
		IF(ISNULL(@shiftId,0)<>0)
		BEGIN
			Insert into StudentShiftMapping(Shiftid,SrNo,SessionName,BranchCode,LoginName,RecordedDate)
			Values(@Shiftid,@SrNo,@SessionName,@BranchCode,@LoginName,GETDATE())
		END
	END
END