ALTER Procedure [dbo].[TCCollectionProc]    
(    
 @Srno nvarchar(50),    
 @RecieptNo nvarchar(50)=null,    
 @StudentName nvarchar(150),    
 @FatherName nvarchar(150),    
 @fatherContactNo nvarchar(50),    
 @MotherName nvarchar(50),    
 @Class nvarchar(50),    
 @sex nchar(10),    
 @Amount numeric(18,2),    
 @ReceivedAmount numeric(18,2),    
 @Dues nvarchar(50)=null,    
 @ConcessionType nvarchar(50)=null,    
 @Concession numeric(18,2),    
 @ConductandWork nvarchar(200)=null,    
 @Subject nvarchar(Max)=null,    
 @TWD nvarchar(50)=null,    
 @TWDP nvarchar(50)=null,    
 @NCC nvarchar(50)=null,    
 @ECA nvarchar(100)=null,    
 @MOP nvarchar(50)=null,    
 @CheckDDNo nvarchar(50)=null,    
 @CheckDate datetime=null,    
 @BankName nvarchar(50)=null,    
 @ChequeStatus nvarchar(50)=null,    
 @BounceCharges decimal(10, 2)=null,    
 @Cancel nvarchar(50)=null,    
 @Status nvarchar(50)=null,    
 @StatusRemark nvarchar(50)=null,    
 @AOR nvarchar(200)=null,    
 @TCIssueDate datetime=null,    
 @DateOfStruckOff datetime,    
 @AdmissionFromDate smalldatetime=null,    
 @bookno nvarchar(6)=null,    
 @DateOfFAD Datetime=null,    
 @ClassOfFAC nvarchar(15)=null,    
 @IsQualified nvarchar(5)=null,    
 @IsQualifiedtowhichclass nvarchar(20)=null,    
 @ChqBounceAmount Decimal(18,2)=null,     
 @ClassWithResult nvarchar(50)= null,    
 @Remark nvarchar(200),    
 @sessionName nvarchar(50),    
 @BranchCode int,    
 @LoginName nvarchar(50),    
 @tcType nvarchar(50),    
 @Formate nvarchar(50),    
 @PassStatus nvarchar(50),    
 @inrollmentNo nvarchar(50),  
 @Result varchar(max)='' out
)    
As          
Begin    
	Begin Try
	Begin Tran
		Declare @co int select @co=MAX(id) from TCCollection         
		if @co is  null          
		begin         
		set @co=0          
		end         
		set @co=@co+1  
 

		exec dbo.GetreceiptNo @SessionName=@SessionName,@BranchCode=@BranchCode,@ReceiptNo=@RecieptNo out
    
		insert into TCCollection    
		(Id, srno, RecieptNo, StudentName, FatherName, FatherContactNo, MotherName, Class, Sex, Amount, ReceivedAmount, Dues, ConcessionType, Concession, ConductandWork,     
		Subject, TWD, TWDP, NCC, ECA, MOP, CheckDDNo, CheckDate, BankName, ChequeStatus, BounceCharges, Cancel, Status, StatusRemark, AOR, TCIssueDate, DateOfStruckOff, AdmissionFromDate, bookno,     
		DateOfFAD, ClassOfFAC, IsQualified, IsQualifiedtowhichclass, ChqBounceAmount, ClassWithResult, remark, SessionName, BranchCode, LoginName, RecordDate, tcType, Formate, PassStatus)       
		values    
		(@co, @srno, @RecieptNo, @StudentName, @FatherName, @FatherContactNo, @MotherName, @Class, @Sex, @Amount, @ReceivedAmount, @Dues, @ConcessionType, @Concession,     
		@ConductandWork, @Subject, @TWD, @TWDP, @NCC, @ECA, @MOP, @CheckDDNo, @CheckDate, @BankName, @ChequeStatus, @BounceCharges, @Cancel, @Status, @StatusRemark, @AOR, @TCIssueDate, @DateOfStruckOff,     
		@AdmissionFromDate, @bookno, @DateOfFAD, @ClassOfFAC, @IsQualified, @IsQualifiedtowhichclass, @ChqBounceAmount, @ClassWithResult, @remark, @SessionName, @BranchCode,     
		@LoginName, GETDATE(), @tcType, @Formate, @PassStatus)    
    
		declare @Balance decimal(10,2)=0
		if @MOP='Cash'    
		begin       
		if exists(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)    
		begin    
		set @Balance=(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)    
		end       
		end    
		insert into AccDayBook    
		(ReceiptNo, SrNo, Date, HeadType, HeadName, HeadCategory, Income, Expens, Balance, PaymentMode, Particulars,     
		ChequeDate, ChequeNo, BankName, BranchCode, LoginName, RecordDate)    
		select @RecieptNo, @srno, @AdmissionFromDate, 'Income', 'Fee', 'TC Fee', @ReceivedAmount, 0, @Balance+@ReceivedAmount, @MOP, 
		'Receipt No.- '+@RecieptNo+' for '+@StudentName +' '+@Class,     
		GETDATE(), '', '', @BranchCode, @LoginName, GETDATE()     

		Set @Result=@RecieptNo
	Commit
	End Try
	Begin Catch
		Print Error_Message()
		Print Error_Line()
		IF(@@ROWCOUNT>0)
			RollBack
	End Catch
End