ALTER Procedure [dbo].[TCCollectionUpdateProc]      
(      
@Id int,      
@srno nvarchar(50),      
@bookno nvarchar(6),      
@AdmissionFromDate smalldatetime,      
@TCIssueDate datetime,      
@DateOfStruckOff datetime,      
@DateOfFAD Datetime,      
@ClassOfFAC nvarchar(15),      
@StudentName nvarchar(150),      
@FatherName nvarchar(150),      
@Class nvarchar(50),      
@ClassWithResult nvarchar(50)= null,      
@sex nchar(10),      
@fatherContactNo nvarchar(50),      
@Amount numeric(18,2),      
@Remark nvarchar(200),      
@ConductandWork nvarchar(200),      
@Concession numeric(18,2),      
@ReceivedAmount numeric(18,2),      
@Subject nvarchar(Max),      
@Dues nvarchar(50),      
@ConcessionType nvarchar(50),      
@TWD nvarchar(50),      
@TWDP nvarchar(50),      
@NCC nvarchar(50),      
@ECA nvarchar(100),      
@MotherName nvarchar(50),      
@AOR nvarchar(200),      
@IsQualified nvarchar(5)=null,      
@IsQualifiedtowhichclass nvarchar(20)=null,        
@PassStatus nvarchar(50)=NULL,    
@Pen nvarchar(20)=NULL,  
@template nvarchar(150)=NULL
)           
As         
Begin          
 update TCCollection        
 Set Remark=@Remark,ConductandWork=@ConductandWork,srno=@srno, AdmissionFromDate=@AdmissionFromDate,      
 Class=@Class, ClassWithResult=@ClassWithResult, DateOfStruckOff=@DateOfStruckOff, Sex=@sex,Amount=@Amount,      
 Concession=@Concession,ReceivedAmount=@ReceivedAmount,Subject=@Subject,Dues=@Dues,ConcessionType=@ConcessionType,      
 TWD=@TWD,TWDP=@TWDP,NCC=@NCC,ECA=@ECA,AOR=@AOR,TCIssueDate=@TCIssueDate,bookno=@bookno, DateOfFAD=@DateOfFAD,      
 ClassOfFAC=@ClassOfFAC,IsQualified=@IsQualified,IsQualifiedtowhichclass=@IsQualifiedtowhichclass, PassStatus=@PassStatus,Formate=@template    
 where  id=@id      

 Update StudentGenaralDetail Set Pen=@Pen Where SrNo=@srno
End      
      
      
      
      
      
      
      
      
      
      
      
      