ALTER PROCEDURE [dbo].[Tcformfeemasterproc] (@Type        VARCHAR(50),
                                             @Id          INT,
                                             @classid     INT,
                                             @Amount      VARCHAR(50),
                                             @SessionName VARCHAR(50),
                                             @Branchid    INT=NULL,
                                             @BranchCode  INT,
                                             @CopyType    VARCHAR(50)=NULL)
AS
    DECLARE @co INT

    SELECT @co = Max(id)
    FROM   tcformfeemaster

    IF @co IS NULL
      BEGIN
          SET @co=0
      END

    SET @co=@co + 1

    IF( @Type = 'Insert' )
      INSERT INTO tcformfeemaster
                  (id,
                   classid,
                   copytype,
                   amount,
                   sessionname,
                   branchid,
                   branchcode)
      VALUES     (@co,
                  @classid,
                  @CopyType,
                  @Amount,
                  @SessionName,
                  @Branchid,
                  @BranchCode)
    ELSE IF( @Type = 'Update' )
      UPDATE tcformfeemaster
      SET    amount = @Amount
      WHERE  id = @Id
             AND branchcode = @BranchCode 