ALTER Proc [dbo].[USP_AdmissionFeeTemplate]
(
	@SessionName varchar(50),
	@ReceiptNo varchar(100),
	@BranchCode int
)
AS
BEGIN
	Select StudentName,FatherContactNo,RecieptNo ReceiptNo,ISNULL(ReceivedAmount,0) Amount from 
	AdmissionFormCollection cfd
	Where cfd.SessionName=@SessionName and cfd.BranchCode=@BranchCode and cfd.RecieptNo=@ReceiptNo

	DECLARE @Parametername VARCHAR(8000)=null
	DECLARE @Template VARCHAR(8000)=null

	Select @Template=st.Template,@Parametername=COALESCE(@Parametername + ',', '') + Parametername FROM dbo.SMSTemplatePapameres stp
	inner Join dbo.SMSTemplate st on st.pagename=stp.pagename and stp.templatefor=st.TemplateFor
	Where st.pagename='AdmissionFormFee'
	Order by OrderNo

	Select @Template Template,@Parametername Parametername
END