ALTER procedure [dbo].[USP_UniformFeeDeposit]
(
	@id int =null,
	@SrNo nvarchar(100)=null,
	@Receipt_no nvarchar(100)=null,
	@ClassId int =null,
	@SessionName nvarchar(50)=null,
	@BranchCode int=null,
	@HeadTotalAmount decimal(10, 2)=null,
	@AmtForPay decimal(10, 2)=null,
	@Discount decimal(10, 2)=null,
	@PaidAmt decimal(10, 2)=null,
	@NextDeuAmt decimal(10, 2)=null,
	@DepositDate datetime=null,
	@Mode nvarchar(50)=null,
	@ModeDate datetime=null,
	@ModeNo nvarchar(50)=null,
	@ModeBank nvarchar(50)=null,
	@PaymentSatus nvarchar(50)=null,
	@ModeRemark  nvarchar(250)=null,
	@RecordedDate datetime =null,
	@LoginName nvarchar(50)=null,
	@HeadName nvarchar(50)=null,
	@BounceCharge decimal(10, 2)=null,
	@checkStatus nvarchar(50)=null,
	@Qty int =null,
	@Amount decimal(10, 2)=null,
	@action varchar(50)='',
	@Result Varchar(max)='' Out
)
as
begin
	if @action='select'
	begin
		select * from UniformFeeDeposit
	end
	if @action='save'
	begin
		if @PaidAmt>0
		begin
			declare @DepositDateNew datetime
			set @DepositDateNew =(select convert(varchar, convert(date, @DepositDate))+' '+convert(varchar, format(getdate(), 'hh:mm tt')))
			
			exec dbo.GetreceiptNo @SessionName=@SessionName,@BranchCode=@BranchCode,@ReceiptNo=@Receipt_no out
			
			insert into UniformFeeDeposit
			(SrNo, Receipt_no, ClassId, SessionName, BranchCode, AmtForPay,Discount, PaidAmt, NextDeuAmt, DepositDate, Mode, ModeDate, ModeNo, 
			ModeBank, PaymentSatus, ModeRemark, RecordedDate, LoginName, checkStatus, BounceCharge)
			values
			(@SrNo, @Receipt_no, @ClassId, @SessionName, @BranchCode, @AmtForPay,@Discount, @PaidAmt, (@AmtForPay-(@Discount+@PaidAmt)), 
			@DepositDateNew, @Mode, @ModeDate, @ModeNo, @ModeBank, @PaymentSatus, @ModeRemark, GETDATE(), @LoginName, @checkStatus, @BounceCharge)
			declare @BranchCode2 int
			
			if @Mode='Cash'
			begin
				declare @Balance decimal(10,2)=0
				if exists(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)
				begin
					set @Balance=(select top(1) Balance from AccDayBook where BranchCode=@BranchCode and PaymentMode='Cash' order by id desc)
				end
			end

			declare @Daybook as table(ReceiptNo nvarchar(50), SrNo nvarchar(50), PaidAmt decimal(10, 2),Balance decimal(10, 2), BranchCode nvarchar(50), LoginName nvarchar(50)) 


			insert into @Daybook
			(SrNo, ReceiptNo,PaidAmt,Balance, BranchCode, LoginName)
			select 
			@SrNo, @Receipt_no, @PaidAmt,@Balance, @BranchCode, @LoginName

			insert into AccDayBook
			(ReceiptNo, SrNo, Date, HeadType, HeadName, HeadCategory, Income, Expens, Balance, PaymentMode, Particulars, 
			ChequeDate, ChequeNo, BankName, BranchCode, LoginName, RecordDate)
			select ReceiptNo, db.SrNo, @DepositDateNew, 'Income', 'Fee','Product Fee', PaidAmt, 0, @Balance+PaidAmt, @Mode, 
			'Receipt No.- '+ReceiptNo+' for '+dbo.Name(FirstName,MiddleName,LastName)+' '+asr.CombineClassName, 
			GETDATE(), '', '', db.BranchCode, db.LoginName, GETDATE()
			From @Daybook db
			Inner Join AllStudentRecord_UDF(@SessionName,@BranchCode) asr on asr.SrNo=db.SrNo

			Set @Result=@Receipt_no
		end
	end
	if @action='saveHistory'
	begin
		insert into UniformHistory
		(Receipt_no, SrNo, SessionName, BranchCode, HeadName, Qty, Amount, Total)
		values
		(@Receipt_no, @SrNo, @SessionName, @BranchCode, @HeadName, @Qty, @Amount, (@Qty*@Amount))
	end
end
