ALTER PROC [dbo].[USP_StudentShiftMaster]  
(  
    @Id int=null,  
 @ShiftName NVARCHAR(100)=null,  
 @ShiftIn NVARCHAR(50)=null,  
 @ShiftOut NVARCHAR(50)=null,  
 @ShiftDuration NVARCHAR(50)=null,  
 @GraceIn NVARCHAR(50)=null,  
 @AbsenOn NVARCHAR(50)=null,  
 @SendSMSIn NVARCHAR(50)=null,  
 @EnableIn NVARCHAR(50)=null,  
 @SendSMSOut NVARCHAR(50)=null,  
 @EnableOut NVARCHAR(50)=null,  
 @BranchCode INT=null,  
 @LoginName NVARCHAR(50)=null,  
 @SessionName NVARCHAR(10)=null,  
 @QueryFor CHAR(20)='',  
 @MSG NVARCHAR(20)=null OUT       
)      
AS  
  BEGIN  
   IF(@QueryFor='I')  
   BEGIN  
     IF NOT EXISTS(SELECT 1 FROM StudentShiftMaster WHERE ShiftName=@ShiftName and SessionName=@SessionName and BranchCode=@BranchCode)  
     BEGIN  
    Insert Into StudentShiftMaster  
    (ShiftName,ShiftIn,ShiftOut,ShiftDuration,GraceIn,AbsenOn,SendSMSIn,EnableIn,SendSMSOut,EnableOut,SessionName,BranchCode,LoginName,RecordedDate)  
    Values  
    (@ShiftName,@ShiftIn,@ShiftOut,@ShiftDuration,@GraceIn,@AbsenOn,@SendSMSIn, @EnableIn,@SendSMSOut,@EnableOut,@SessionName,@BranchCode,  
    @LoginName,GETDATE())  
    set @MSG='S'  
     END  
     ELSE  
     BEGIN  
    set @MSG='D'  
     END  
   END  

   Else IF(@QueryFor='U')  
   BEGIN   
	Update StudentShiftMaster  Set
	ShiftName=@ShiftName,
	ShiftIn=@ShiftIn,
	ShiftOut=@ShiftOut,
	ShiftDuration=@ShiftDuration,
	GraceIn=@GraceIn,
	AbsenOn=@AbsenOn,
	SendSMSIn=@SendSMSIn,
	EnableIn=@EnableIn,
	SendSMSOut=@SendSMSOut,
	EnableOut=@EnableOut,
	RecordedDate=GETDATE()  
	Where ID=@Id and BranchCode=@BranchCode
	set @MSG='U'   
   END
     
   ELSE IF(@QueryFor='D')  
   BEGIN  
   Delete From StudentShiftMaster where Id=@Id and BranchCode=@BranchCode and SessionName=@SessionName  
   set @MSG='S'  
   END  
  
   ELSE IF(@QueryFor='S')  
   BEGIN  
     Select * from StudentShiftMaster   
     Where 
	 --SessionName=@SessionName and 
	 BranchCode=@BranchCode and Id=isnull(@Id, id)  
   END  
  END