ALTER Proc [dbo].[USP_AdditionalFeeTemplate]
(
	@SessionName varchar(50),
	@ReceiptNo varchar(100),
	@BranchCode int
)
AS
BEGIN
	Select dbo.Name(sgd.FirstName,sgd.MiddleName,sgd.LastName) StudentName,sfd.FatherContactNo,Receipt_no ReceiptNo,SUM(ISNULL(ReceivedAmount,0)) Amount from Other_fee_collection_1 cfd
	Inner Join StudentOfficialDetails sod on sod.SrNo=cfd.SrNo and sod.SessionName=cfd.SessionName and sod.BranchCode=cfd.BranchCode
	Inner Join StudentGenaralDetail sgd on sod.SrNo=sgd.SrNo and sod.SessionName=sgd.SessionName and sod.BranchCode=sgd.BranchCode
	Inner Join StudentFamilyDetails sfd on sod.SrNo=sfd.SrNo and sod.SessionName=sfd.SessionName and sod.BranchCode=sfd.BranchCode
	Where cfd.SessionName=@SessionName and cfd.BranchCode=@BranchCode and cfd.Receipt_no=@ReceiptNo
	Group by dbo.Name(sgd.FirstName,sgd.MiddleName,sgd.LastName),sfd.FatherContactNo,Receipt_no

	DECLARE @Parametername VARCHAR(8000)=null
	DECLARE @Template VARCHAR(8000)=null

	Select @Template=st.Template,@Parametername=COALESCE(@Parametername + ',', '') + Parametername FROM dbo.SMSTemplatePapameres stp
	inner Join dbo.SMSTemplate st on st.pagename=stp.pagename and stp.templatefor=st.TemplateFor
	Where st.pagename='AdditionalFee'
	Order by OrderNo

	Select @Template Template,@Parametername Parametername
END