ALTER Proc [dbo].[USP_GetStudentAbsentAttendance_Auto]
(
	@CurrentDate datetime=null,
	@CurrentTime nvarchar(10)=null,
	@Action int=null
)
AS
BEGIN
	IF(@Action=1)
	BEGIN
		Set @CurrentDate=ISNULL(@CurrentDate,Getdate())
		Create Table #Temp_AbsentStudent
		(
			StdSrNo varchar(20),
			StudentName varchar(100),
			AttendanceDate datetime,
			MobileNo varchar(15),
			ShiftName varchar(50),
			AbsenOn varchar(20),
			Attendance varchar(20),
			BranchCode varchar(20)
		)
		
		Create Table #Temp_StdDailyAttendance 
		(
			Srno nvarchar(20),
			AttendanceDate date,
			AttendanceValue nvarchar(20)
		)
		Insert into #Temp_StdDailyAttendance(Srno,AttendanceDate,AttendanceValue)
		Select sod.Srno,addw.AttendanceDate,AttendanceValue from StudentOfficialDetails sod
		Inner join SessionMaster sm on sm.SessionName=sod.SessionName and Convert(date,@CurrentDate) 
		between FromDate and ToDate and sm.BranchCode=sod.BranchCode
		Inner Join AttendanceDetailsDateWise addw on addw.Srno=sod.Srno 
		and Convert(date,addw.AttendanceDate)=Convert(date,@CurrentDate)
	
		IF((Select DateName(WEEKDAY,GetDate()))<>'Sunday')
		BEGIN
			Insert into #Temp_AbsentStudent(StdSrNo,StudentName,AttendanceDate,MobileNo,ShiftName,AbsenOn,Attendance,BranchCode)
			Select  sod.SrNo,dbo.Name(sgd.FirstName,sgd.MiddleName,sgd.LastName) StudentName,@CurrentDate,sfd.FamilyContactNo MobileNo,
			ShiftName,Format(@CurrentDate,'dd-MMM-yyyy hh:mm tt') AbsenOn,ISNULL(aam.AttendanceName,'Absent') Attendance,sod.BranchCode
			from StudentOfficialDetails sod
			Inner Join StudentGenaralDetail sgd on sod.Srno=sgd.Srno and sod.BranchCode=sgd.BranchCode and sgd.SessionName=sod.SessionName
			Inner Join StudentFamilyDetails sfd on sod.Srno=sfd.Srno and sod.BranchCode=sfd.BranchCode and sfd.SessionName=sod.SessionName
			Inner Join StudentShiftMapping ssm on ssm.SrNo=sod.SrNo and ssm.SessionName=sod.SessionName and ssm.BranchCode=sod.BranchCode
			Inner Join StudentShiftMaster stdsm on stdsm.ID=ssm.Shiftid and stdsm.BranchCode=sod.BranchCode			
			Inner join SessionMaster sm on sm.SessionName=sod.SessionName and Convert(date,@CurrentDate) between FromDate and ToDate and sm.BranchCode=sod.BranchCode
			Inner Join SmsEmailMaster sem on sem.BranchCode=sod.BranchCode and sem.Id=30 and SmsSent='true'
			Inner join SMSTemplate st on st.pagename='StudentDailyAttendanceAuto' and st.templatefor='Absent' and st.SendFor='SMS'
			Inner Join #Temp_StdDailyAttendance addw on addw.Srno=sod.Srno COLLATE SQL_Latin1_General_CP1_CI_AS and addw.AttendanceDate=Convert(date,@CurrentDate)
			Inner Join AttendanceAbbreviationMaster aam on AbbreviationName=addw.AttendanceValue COLLATE SQL_Latin1_General_CP1_CI_AS and ValidFor='S'
			Left Join AttendanceSMSStatus ass on ass.StdSrNo=sod.SrNo and Convert(date,@CurrentDate)=Convert(date,ass.AttendanceDate)
			Where ISNULL(aam.AttendanceName,'Absent')='Absent' and		
			Convert(datetime,IIF(ISDATE(Format(@CurrentDate,'dd-MMM-yyyy')++' '+stdsm.SendSMSIn)=1,Format(@CurrentDate,'dd-MMM-yyyy')+' '+stdsm.SendSMSIn,@CurrentDate))<=Convert(datetime,@CurrentDate)
			and ass.AttendanceDate is null 
			and sod.Withdrwal is null and ISNULL(sod.MachineNo,'')<>'' and ISNULL(sod.CardNo,'')<>''
		END

		Insert into AttendanceSMSStatus(StdSrNo,AttendanceDate,Attendance,SMSSendDate)
		Select StdSrNo,Convert(date,@CurrentDate),Attendance,GetDate() from #Temp_AbsentStudent
		
		Select StdSrNo,StudentName StudentsName,MobileNo,ShiftName,Format(AttendanceDate,'dd-MMM-yyyy') Date,
		AbsenOn Datewithtime,Attendance,BranchCode from #Temp_AbsentStudent

		DECLARE @Parametername VARCHAR(8000)=null
		DECLARE @Template VARCHAR(8000)=null
		
		IF Exists(Select top 1 1 from #Temp_AbsentStudent)
		Begin
			Select @Template=st.Template,@Parametername=COALESCE(@Parametername + ',', '') + Parametername FROM dbo.SMSTemplatePapameres stp
			inner Join dbo.SMSTemplate st on st.pagename=stp.pagename and stp.templatefor=st.TemplateFor
			Where st.pagename='StudentDailyAttendanceAuto' and stp.templatefor='Absent' and stp.SendFor='SMS'
			Order by OrderNo
		End

		Select @Template Template,@Parametername Parametername

		Drop Table #Temp_AbsentStudent
		Drop table #Temp_StdDailyAttendance 
	END
END