Create  Proc [dbo].[USP_ReceiptCancellationTemplate]
(
	@SessionName varchar(50),
	@ReceiptNo varchar(100),
	@BranchCode int
)
AS
BEGIN
	Select dbo.Name(sgd.FirstName,sgd.MiddleName,sgd.LastName) StudentsName,sfd.FatherContactNo,ReceiptNo,SUM(ISNULL(PaidAmount,0)) Amount from CompositFeeDeposit cfd
	Inner Join StudentOfficialDetails sod on sod.SrNo=cfd.SrNo and sod.SessionName=cfd.SessionName and sod.BranchCode=cfd.BranchCode
	Inner Join StudentGenaralDetail sgd on sod.SrNo=sgd.SrNo and sod.SessionName=sgd.SessionName and sod.BranchCode=sgd.BranchCode
	Inner Join StudentFamilyDetails sfd on sod.SrNo=sfd.SrNo and sod.SessionName=sfd.SessionName and sod.BranchCode=sfd.BranchCode
	Where cfd.SessionName=@SessionName and cfd.BranchCode=@BranchCode and cfd.ReceiptNo=@ReceiptNo and receiptStatus='Cancelled'
	Group by dbo.Name(sgd.FirstName,sgd.MiddleName,sgd.LastName),sfd.FatherContactNo,ReceiptNo

	DECLARE @Parametername VARCHAR(8000)=null
	DECLARE @Template VARCHAR(8000)=null

	Select @Template=st.Template,@Parametername=COALESCE(@Parametername + ',', '') + Parametername FROM dbo.SMSTemplatePapameres stp
	inner Join dbo.SMSTemplate st on st.pagename=stp.pagename
	Where st.pagename='ReceiptCancellation'
	Order by OrderNo

	Select @Template Template,@Parametername Parametername
END