ALTER PROC [dbo].[USP_GetStudentDetails]
(
    @RegisterValue NVARCHAR(50),
    @SessionName NVARCHAR(20),
    @BranchCode TINYINT
)
AS
BEGIN
    SELECT distinct SrNo,StEnRCode,CardId,Name,FatherName, CombineClassName, ClassName,
	IIF(ISNULL(SectionDisplay,0)=1,' (' + SectionName + ')','') SectionName, DateOfAdmiission, classid,
	CASE WHEN IsDisplay=1 THEN BranchName ELSE '' END BranchName,
	Medium,DateOfAdmiission,FamilyContactNo,PhotoPath, FamilyContactNo, Card
    FROM AllStudentRecord_UDF(@SessionName, @BranchCode)
    WHERE CASE WHEN LEFT(@RegisterValue, 3) = 'eAM' THEN StEnRCode ELSE SrNo END = @RegisterValue;
END;













