Create  Proc [dbo].[USP_EmployeeRegistrationTemplate]
(
	@BranchCode int,
	@SessionName nvarchar(20),
	@EmpCode varchar(20)
)
AS
BEGIN
	Select DisplayName StaffsName,lt.LoginName Username,lt.Pass Password, cfd.EMobileNo
	from EmpGeneralDetail cfd
	Inner Join LoginTab lt on lt.LoginName=cfd.Ecode
	Where cfd.SessionName=@SessionName and cfd.BranchCode=@BranchCode and cfd.Ecode=@EmpCode

	DECLARE @Parametername VARCHAR(8000)=null
	DECLARE @Template VARCHAR(8000)=null

	Select @Template=st.Template,@Parametername=COALESCE(@Parametername + ',', '') + Parametername FROM dbo.SMSTemplatePapameres stp
	inner Join dbo.SMSTemplate st on st.pagename=stp.pagename and st.BranchCode=stp.BranchCode and stp.TemplateFor=st.TemplateFor
	Where st.pagename='StaffRegistration' and st.TemplateFor='Default' and st.SendFor='SMS' and stp.BranchCode=@BranchCode
	Order by OrderNo

	Select @Template Template,@Parametername Parametername
END
