Drop Proc USP_StudentAttTemplate
Go
Create  Proc [dbo].[USP_StudentAttTemplateManual]
(
	@SessionName varchar(50),
	@Srno varchar(100),
	@BranchCode int,
	@Attendance varchar(10),	
	@AttendanceDate date
)
AS
BEGIN
	Select dbo.Name(sgd.FirstName,sgd.MiddleName,sgd.LastName) StudentsName,sfd.FatherContactNo,format(cfd.AttendanceDate,'dd-MM-yyyy') Date,
	format(cfd.AttendanceDate,'dd-MM-yyyy hh:mm ss') Datewithtime from AttendanceDetailsDateWise cfd
	Inner Join StudentOfficialDetails sod on sod.SrNo=cfd.SrNo and sod.SessionName=cfd.SessionName and sod.BranchCode=cfd.BranchCode
	Inner Join StudentGenaralDetail sgd on sod.SrNo=sgd.SrNo and sod.SessionName=sgd.SessionName and sod.BranchCode=sgd.BranchCode
	Inner Join StudentFamilyDetails sfd on sod.SrNo=sfd.SrNo and sod.SessionName=sfd.SessionName and sod.BranchCode=sfd.BranchCode
	Where cfd.SessionName=@SessionName and cfd.BranchCode=@BranchCode and cfd.SrNo=@Srno and Convert(date,cfd.AttendanceDate)=Convert(date,@AttendanceDate)
	Group by dbo.Name(sgd.FirstName,sgd.MiddleName,sgd.LastName),sfd.FatherContactNo,cfd.Srno,cfd.AttendanceDate

	DECLARE @Parametername VARCHAR(8000)=null
	DECLARE @Template VARCHAR(8000)=null

	Select @Template=st.Template,@Parametername=COALESCE(@Parametername + ',', '') + Parametername FROM dbo.SMSTemplatePapameres stp
	inner Join dbo.SMSTemplate st on st.pagename=stp.pagename and st.TemplateFor=stp.TemplateFor
	Where st.pagename='StudentDailyAttendanceManual' and st.TemplateFor=@Attendance and st.sendfor='SMS'
	Order by OrderNo

	Select @Template Template,@Parametername Parametername
END